<article class="games-history game-setup">
  <header>
    <h3>{{'GAME.page_title'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button *ngFor="let game of games;let i=index"
      class="btn btn-lg btn-dark" [routerLink]="['/games', game.id]">
        {{game.name}}
    </button>
  </section>
</article>
