<article class="game-setup settings" *ngIf="game">
  <header>
    <h3><a routerLink="/games">{{'GAME.page_title'|translate}}</a><span> / {{game.game_name}}</span></h3>
  </header>
  <form>
    <div class="row">
      <div class="col-md-6" *ngFor="let g of game.params;let i=index">
        <div class="form-group" [ngClass]="{'active': clicked == g.name}">
          <label for="in-{{g.name}}">{{'GAME.PARAMS.'+g.name|translate}}</label>
          <input *ngIf="g.type=='string'" [(ngModel)]="modelAttr[g.name]" tabindex="0" [tabIndex]="[i]"
            keyboardNumbers class="flat form-control" placeholder="{{'GAME.PARAMS.'+g.name|translate}}"
            name="{{g.name}}" type="text" value="{{g.value}}" (focus)="clicked=g.name;cI=i">
          <input *ngIf="g.type=='checkbox'" [(ngModel)]="modelAttr[g.name]" id="in-{{g.name}}"
            name="{{g.name}}" type="checkbox" value="{{g.value}}" (focus)="clicked=g.name;cI=i">
          <select *ngIf="g.type=='select'" [(ngModel)]="modelAttr[g.name]"
            name="{{g.name}}" class="form-control" (focus)="clicked=g.name;cI=i">
            <option *ngFor="let opt of g.options.split('|')" [value]="opt">{{opt}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/games" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="saveGame()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
<numeric-keyboard></numeric-keyboard>
