<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="audio" *ngIf="!finished&&!testStatus">
      <div class="channels">
        <div class="channel left-channel" *ngIf="testLeftChannel">
          <div class="channel-name">{{'TESTS.TYPE.audio.left_ch'|translate}}</div>
          <div class="button button-up">
            <a (click)="upLeftVolume()"><span class="glyphicon glyphicon-volume-up"></span></a>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':leftValue+'%'}">
              <span class="value">{{leftValue}}%</span>
            </div>
          </div>
          <div class="button button-down">
            <a (click)="downLeftVolume()"><span class="glyphicon glyphicon-volume-down"></span></a>
          </div>
        </div>
        <div class="panel panel-primary" *ngIf="testLeftChannel && !testRightChannel">
          <div class="panel-heading">{{'TESTS.TYPE.audio.left_question'|translate}}</div>
          <div class="panel-body">
            <button class="btn btn-default btn-lg" (click)="fail()">No</button>
            <button class="btn btn-success btn-lg" (click)="playRight()">Yes</button>
          </div>
        </div>
        <div class="channel right-channel" *ngIf="testRightChannel">
          <div class="channel-name">{{'TESTS.TYPE.audio.right_ch'|translate}}</div>
          <div class="button button-up">
            <a (click)="upRightVolume()"><span class="glyphicon glyphicon-volume-up"></span></a>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':rightValue+'%'}">
              <span class="value">{{rightValue}}%</span>
            </div>
          </div>
          <div class="button button-down">
            <a (click)="downRightVolume()"><span class="glyphicon glyphicon-volume-down"></span></a>
          </div>
        </div>
        <div class="panel panel-primary" *ngIf="testRightChannel && !testLeftChannel">
          <div class="panel-heading">{{'TESTS.TYPE.audio.right_question'|translate}}</div>
          <div class="panel-body">
            <button class="btn btn-default btn-lg" (click)="fail()">No</button>
            <button class="btn btn-success btn-lg" (click)="playBoth()">Yes</button>
          </div>
        </div>
        <div class="panel panel-primary" *ngIf="testLeftChannel && testRightChannel">
          <div class="panel-heading">{{'TESTS.TYPE.audio.both_question'|translate}}</div>
          <div class="panel-body">
            <button class="btn btn-default btn-lg" (click)="fail()">No</button>
            <button class="btn btn-success btn-lg" (click)="success()">Yes</button>
          </div>
        </div>
      </div>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
