<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="hopper bill" *ngIf="!testStatus">
      <ul class="channels">
        <li class="channel-{{c.value}}-{{c.name}}"
          [ngClass]="{success: status[i]=='success', inprogress: status[i]=='inprogress', fail: status[i]=='fail'}"
          *ngFor="let c of channels; let i=index">
          {{'TESTS.TYPE.bill.insert'|translate}} <strong>{{c.value}}</strong> {{c.name}}
        </li>
      </ul>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
