<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="leds" *ngIf="!testStatus">
      <ul class="channels">
        <li class="channel"
          [ngClass]="{success: status[i]=='success', inprogress: status[i]=='inprogress', fail: status[i]=='fail'}"
          *ngFor="let c of channels; let i=index">
          <span class="glyphicon glyphicon-record"></span>
          <span class="name">{{'TESTS.TYPE.led.channel_'+c|translate}}</span>
        </li>
      </ul>
      <div class="confirm">
        <div class="question">{{'TESTS.TYPE.led.question'|translate}}</div>
        <button class="btn btn-default btn-lg btn-big" (click)="flashing('fail')" tabindex="0" [tabIndex]="1">
          {{'TESTS.BUTTONS.no'|translate}}
        </button>
        <button class="btn btn-lg btn-dark" (click)="flashing('success')" tabindex="0" [tabIndex]="2">
          {{'TESTS.BUTTONS.yes'|translate}}
        </button>
      </div>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus=='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus=='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
