<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <div id="home-page">
      <h3>{{'TESTS.page_title'|translate}}</h3>
      <div class="question">{{'TESTS.page_info'|translate}}</div>
      <button class="btn btn-lg btn-dark" (click)="runAllTest()" tabindex="0" [tabIndex]="0">
        <span>{{'TESTS.BUTTONS.all'|translate}}</span>
      </button>
    </div>
  </section>
</article>
