<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="printer" *ngIf="!testStatus">
      <button class="btn btn-lg btn-dark" *ngIf="!ready&&!progress" (click)="testit()" tabindex="0" [tabIndex]="0">
        <span>{{'TESTS.BUTTONS.run'|translate}}</span>
      </button>
      <div class="confirm" *ngIf="progress">{{'TESTS.TYPE.printer.progress'|translate}}</div>
      <div class="confirm" *ngIf="ready">
        <div class="question">{{'TESTS.TYPE.printer.question'|translate}}</div>
        <button class="btn btn-default btn-lg btn-big" (click)="fail()" tabindex="0" [tabIndex]="1">
          {{'TESTS.BUTTONS.no'|translate}}
        </button>
        <button class="btn btn-lg btn-dark" (click)="success()" tabindex="0" [tabIndex]="2">
          {{'TESTS.BUTTONS.yes'|translate}}
        </button>
      </div>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
