<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="self" *ngIf="!testStatus">
      <button class="btn btn-lg btn-dark" *ngIf="!ready" (click)="testit()" tabindex="0" [tabIndex]="0">
        <span>{{'TESTS.BUTTONS.run'|translate}}</span>
      </button>
      <div class="kinds" *ngIf="ready">
        <div class="kind" *ngFor="let t of tests; let i=index">
          <strong>{{'TESTS.TYPE.self.'+t|translate}}</strong>:
          <span class="value" [ngClass]="{success: status[i]=='success', fail: !status[i]=='fail'}">
            <span class="glyphicon glyphicon-ok" *ngIf="status[i]=='success'"></span>
            <span class="glyphicon glyphicon-remove" *ngIf="status[i]=='fail'"></span>
            {{'TESTS.STATUS.'+status[i]|translate}}
          </span>
        </div>
      </div>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
