<div class="checkout-wrap">
  <ul class="checkout-bar {{progressBarClass}}">
    <li *ngFor="let t of testNames" (click)="runTest(t.router)"
        [ngClass]="{
          fail: failed.indexOf(t.name) !== -1,
          visited: passed.indexOf(t.name) !== -1,
          active: isActive == t.name,
          revisited: isActive == t.name && isSuccess == t.name,
          next: nextTestName == t.name
        }">
      <a (click)="runTest(t.router)">
        {{'TESTS.TYPE.' + t.name + '.title'|translate}}
      </a>
    </li>
  </ul>
</div>
