<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test" *ngIf="!testStatus">
    <h3>{{'TESTS.TYPE.summary.title'|translate}}</h3>
    <section class="summary">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-passed">{{passed}}</span>
          {{'TESTS.TYPE.summary.passed'|translate}}
        </li>
        <li class="list-group-item">
          <span class="badge badge-failed">{{failed}}</span>
          {{'TESTS.TYPE.summary.failed'|translate}}
        </li>
      </ul>
      <button type="button" class="btn btn-big btn-default btn-lg" (click)="runAgain()">
        {{'TESTS.TYPE.summary.again_btn'|translate}}
      </button>
      <button type="button" class="btn btn-dark btn-lg" (click)="print()">
        {{'TESTS.TYPE.summary.print_btn'|translate}}
      </button>
    </section>
  </section>
  <section class="test-status" *ngIf="testStatus">
    <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
    <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
  </section>
</article>
