<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <div class="run-button" *ngIf="!testStatus">
      <button class="btn btn-lg btn-dark" *ngIf="ready" (click)="testit()">
        <span>{{'TESTS.TYPE.spin.press'|translate}}</span>
      </button>
    </div>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
