<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="touchscreen" *ngIf="!testStatus">
      <h4>{{'TESTS.TYPE.'+testName+'.info'|translate}}</h4>
      <div class="points">
        <a class="button" *ngFor="let c of coordinates; let i=index"
          (click)="testit($event, i)"
          [style.top.px]="c.y"
          [style.left.px]="c.x">
          <span *ngIf="successIcon[i]" class="success glyphicon glyphicon-ok"></span>
          <span *ngIf="failIcon[i]" class="fail glyphicon glyphicon-remove"></span>
        </a>
      </div>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
