<article class="tests-page">
  <section class="step-bar">
    <step-bar></step-bar>
  </section>
  <section class="test">
    <h3>{{'TESTS.TYPE.'+testName+'.title'|translate}}</h3>
    <section class="video" *ngIf="!testStatus">
      <figure *ngIf="!tapped">
        <div class="confirm-box">
          <div class="panel panel-primary">
            <div class="panel-heading">Do you see video test screen?</div>
            <div class="panel-body">
              <button class="btn btn-default btn-lg" (click)="fail()" tabindex="0" [tabIndex]="0">No</button>
              <button class="btn btn-success btn-lg" (click)="success()" tabindex="0" [tabIndex]="1">Yes</button>
            </div>
          </div>
        </div>
      </figure>
    </section>
    <section class="test-status" *ngIf="testStatus">
      <div class="passed" *ngIf="testStatus==='ok'">{{'TESTS.STATUS.success'|translate}}</div>
      <div class="failed" *ngIf="testStatus==='fail'">{{'TESTS.STATUS.fail'|translate}}</div>
    </section>
  </section>
</article>
