<section class="modals">
  <div id="modal-datapicker" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">{{'TIME.select_range'|translate}}</div>
      </div>
      <div class="modal-body">
        <div class="fromDate">
          <div class="date-block">
            <label>{{'TIME.from_date'|translate}}</label>
            <input class="flat"
              [mdDatepicker]="pickerFrom" [(ngModel)]="fromDate" (click)="pickerFrom.open();closePopUps()">
            <md-datepicker #pickerFrom></md-datepicker>
          </div>
          <div class="date-block">
            <label>{{'TIME.from_time'|translate}}</label>
            <input type="text" class="flat hour"
              [ngModel]="fromHour" (click)="closePopUps();clickFromTime()" readonly>
            <ul class="hours-block" *ngIf="fromHourShow">
              <li *ngFor="let key of keys; let i = index"
                  [ngClass]="{unactive: allowedKeys[timePossition].indexOf(i)==-1}">
                <label>
                  <input type="radio" [value]="i" *ngIf="allowedKeys[timePossition].indexOf(i)!==-1" (click)="insertTimeFrom(i)">
                  <input type="radio" [value]="i" *ngIf="allowedKeys[timePossition].indexOf(i)==-1">
                  {{i}}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="toDate">
          <div class="date-block">
            <label>{{'TIME.to_date'|translate}}</label>
            <input class="flat"
              [mdDatepicker]="pickerTo" [(ngModel)]="toDate" (click)="pickerTo.open();closePopUps()">
            <md-datepicker #pickerTo></md-datepicker>
          </div>
          <div class="date-block">
            <label>{{'TIME.to_time'|translate}}</label>
            <input type="text" class="flat hour"
              [ngModel]="toHour" (click)="closePopUps();clickToTime()" readonly>
            <ul class="hours-block right" *ngIf="toHourShow">
              <li *ngFor="let key of keys; let i = index"
                  [ngClass]="{unactive: allowedKeys[timePossition].indexOf(i)==-1}">
                <label>
                  <input type="radio" [value]="i" *ngIf="allowedKeys[timePossition].indexOf(i)!==-1" (click)="insertTimeTo(i)">
                  <input type="radio" [value]="i" *ngIf="allowedKeys[timePossition].indexOf(i)==-1">
                  {{i}}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-big" data-dismiss="modal" (click)="closePopUps()">
          {{'BUTTONS.cancel'|translate}}
        </button>
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="customDate()">
          {{'BUTTONS.ok'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
</section>
