<article class="identification">
  <header>
    <h3>{{'IDENTIFICATION.page_title'|translate}}</h3>
  </header>
  <section class="panels row" *ngIf="identification">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.GENERAL.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of identification.general | keys">
            <strong>{{'IDENTIFICATION.PANELS.GENERAL.PARAMS.'+p|translate}}</strong>:
            {{
              whatExist(
                'IDENTIFICATION.PANELS.VALUES.'+identification.general[p]|translate,
                identification.general[p])
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default panel-small">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.PERIPHERALS.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of identification.peripherals | keys">
            <strong>{{'IDENTIFICATION.PANELS.PERIPHERALS.PARAMS.'+p|translate}}</strong>:
            {{
              whatExist(
                'IDENTIFICATION.PANELS.VALUES.'+identification.peripherals[p]|translate,
                identification.peripherals[p])
            }}
          </div>
        </div>
      </div>
      <div class="panel panel-default panel-small">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.PROGRESSIVE.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of identification.progressive | keys">
            <strong>{{'IDENTIFICATION.PANELS.PROGRESSIVE.PARAMS.'+p|translate}}</strong>:
            {{
              whatExist(
                'IDENTIFICATION.PANELS.VALUES.'+identification.progressive[p]|translate,
                identification.progressive[p])
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default panel-small panel-games">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.GAMES.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let game of identification.games">
            <a data-toggle="modal" data-target="#modal-small-game"
              (click)="callGameModal(game.id)">&#9679; {{game.name}}</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel-small">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.SAS.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of identification.sas | keys">
            <strong>{{'IDENTIFICATION.PANELS.SAS.PARAMS.'+p|translate}}</strong>:
            {{
              whatExist(
                'IDENTIFICATION.PANELS.VALUES.'+identification.sas[p]|translate,
                identification.sas[p])
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{'IDENTIFICATION.PANELS.XSERIES.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of identification.xseries | keys">
            <strong>{{'IDENTIFICATION.PANELS.XSERIES.PARAMS.'+p|translate}}</strong>:
            {{
              whatExist(
                'IDENTIFICATION.PANELS.VALUES.'+identification.xseries[p]|translate,
                identification.xseries[p])
            }}
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<section class="modals">
  <modal-small-game></modal-small-game>
</section>
