<section class="numeric-keyboard" *ngIf="showKeyboard">
  <div class="numbers">
    <button *ngFor="let b of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]" (click)="pressKey(b)" data-key>
      {{b}}
    </button>
    <button class="clear" (click)="clear()" data-key>
      <span>&#8612;</span>
    </button>
  </div>
</section>
