<section class="paginator">
  <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination">
    <li [ngClass]="{unactive:pager.currentPage == 1}" *ngIf="pager.currentPage > 1">
        <a (click)="onClick(1)" tabindex="0"><strong>&laquo;</strong> {{'PAGINATION.first'|translate}}</a>
        <a (click)="onClick(pager.currentPage - 1)" tabindex="0">
          <strong>&lsaquo;</strong> {{'PAGINATION.prev'|translate}}
        </a>
    </li>
    <li class="noclick" [ngClass]="{unactive:pager.currentPage == 1}" *ngIf="pager.currentPage == 1">
        <a tabindex="0"><strong>&laquo;</strong> {{'PAGINATION.first'|translate}}</a>
        <a tabindex="0"><strong>&lsaquo;</strong> {{'PAGINATION.prev'|translate}}</a>
    </li>
    <li>
      <span>
        {{'PAGINATION.page'|translate}} <strong>{{pager.currentPage}}</strong>
        {{'PAGINATION.of'|translate}} <strong>{{pager.totalPages}}</strong>
      </span>
    </li>
    <li [ngClass]="{unactive:pager.currentPage == pager.totalPages}" *ngIf="pager.currentPage < pager.totalPages">
        <a (click)="onClick(pager.currentPage + 1)">{{'PAGINATION.next'|translate}} <strong>&rsaquo;</strong></a>
        <a (click)="onClick(pager.totalPages)">{{'PAGINATION.last'|translate}} <strong>&raquo;</strong></a>
    </li>
    <li class="noclick" [ngClass]="{unactive:pager.currentPage == pager.totalPages}" *ngIf="pager.currentPage == pager.totalPages">
      <a>{{'PAGINATION.next'|translate}} <strong>&rsaquo;</strong></a>
      <a>{{'PAGINATION.last'|translate}} <strong>&raquo;</strong></a>
    </li>
  </ul>
</section>
