<section class="time-filters">
  <div class="filter-lebel">{{'TIME.time'|translate}}:</div>
  <ul class="nav nav-pills">
    <li role="presentation" [ngClass]="{'active': timeFilter=='all'}">
      <a (click)="setDefault()" tabindex="0" [tabIndex]="[0]">{{'TIME.all'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='24h'}">
      <a (click)="changeTime('24h')" tabindex="0" [tabIndex]="[0]">{{'TIME.24h'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='yesterday'}">
      <a (click)="changeTime('yesterday')" tabindex="0" [tabIndex]="[0]">{{'TIME.yesterday'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='today'}">
      <a (click)="changeTime('today')" tabindex="0" [tabIndex]="[0]">{{'TIME.today'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='this_week'}">
      <a (click)="changeTime('this_week')" tabindex="0" [tabIndex]="[0]">{{'TIME.this_week'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='last_week'}">
      <a (click)="changeTime('last_week')" tabindex="0" [tabIndex]="[0]">{{'TIME.last_week'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='this_month'}">
      <a (click)="changeTime('this_month')" tabindex="0" [tabIndex]="[0]">{{'TIME.this_month'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='last_month'}">
      <a (click)="changeTime('last_month')" tabindex="0" [tabIndex]="[0]">{{'TIME.last_month'|translate}}</a>
    </li>
    <li role="presentation" [ngClass]="{'active': timeFilter=='custom_range'}">
      <a (click)="timeFilter='custom_range'" tabindex="0" [tabIndex]="[0]" data-toggle="modal" data-target="#modal-datapicker">
        <span *ngIf="customRange">{{customRange}}</span>
        <span *ngIf="!customRange">{{'TIME.custom_range'|translate}}</span>
      </a>
    </li>
  </ul>
</section>
<modal-datapicker (emitCustomDate)="customTime($event)"></modal-datapicker>
