<article class="attendant dump">
  <header>
    <h3><a routerLink="/attendant">{{'ATTENDANT.page_title'|translate}}</a><span> / {{'ATTENDANT.BUTTONS.dump'|translate}}</span></h3>
  </header>
  <section class="type-filters">
    <div class="filter-lebel">{{'ATTENDANT.DUMP.enter_coins'|translate}}: </div>
    <ul class="nav nav-pills">
      <li><a (click)="addCoins(1)" tabindex="0" [tabIndex]="[1]">{{'ATTENDANT.COINS.1'|translate}}</a></li>
      <li><a (click)="addCoins(10)" tabindex="0" [tabIndex]="[2]">{{'ATTENDANT.COINS.10'|translate}}</a></li>
      <li><a (click)="addCoins(100)" tabindex="0" [tabIndex]="[3]">{{'ATTENDANT.COINS.100'|translate}}</a></li>
      <li><a *ngIf="!canClear&&totalDump" (click)="cancelCoins()" tabindex="0" [tabIndex]="[4]">{{'ATTENDANT.COINS.cancel'|translate}}</a></li>
      <li><a *ngIf="canClear" (click)="clearCoins()" tabindex="0" [tabIndex]="[4]">{{'ATTENDANT.COINS.clear'|translate}}</a></li>
    </ul>
  </section>
  <table class="table table-striped" *ngIf="dump">
    <thead>
      <tr>
        <th>{{'ATTENDANT.COINS.1'|translate}} = {{dump.settings.currency}}{{ratio}}</th>
        <th>{{'ATTENDANT.DUMP.coins'|translate}}</th>
        <th>{{'ATTENDANT.DUMP.value'|translate}}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>{{'ATTENDANT.DUMP.dumped'|translate}}</td>
        <td>{{totalDump}}</td>
        <td>{{dump.settings.currency}}{{(totalDump*ratio).toFixed(2)}}</td>
      </tr>
    </tfoot>
    <tbody *ngFor="let level of dump.settings.levels">
      <tr>
        <td>{{'ATTENDANT.DUMP.total'|translate}}</td>
        <td>{{totalaLevel}}</td>
        <td>{{dump.settings.currency}}{{(totalaLevel*ratio).toFixed(2)}}</td>
      </tr>
      <tr>
        <td>{{'ATTENDANT.DUMP.periodic'|translate}}</td>
        <td>{{periodicLevel}}</td>
        <td>{{dump.settings.currency}}{{(periodicLevel*ratio).toFixed(2)}}</td>
      </tr>
    </tbody>
  </table>
  <div class="confirm" *ngIf="ready">
    <button class="btn btn-lg btn-dark" (click)="close()" tabindex="0" [tabIndex]="5">
      {{'ATTENDANT.DUMP.confirm'|translate}}
    </button>
  </div>
</article>
