<article class="attendant accounting handpay">
  <header>
    <h3><a routerLink="/attendant">{{'ATTENDANT.page_title'|translate}}</a><span> / {{'ATTENDANT.BUTTONS.handpay'|translate}}</span></h3>
  </header>
  <section class="data row" *ngIf="handpay">
    <div class="col-md-6 panel-{{pannel}}" *ngFor="let panel of [0, 1]">
      <div class="panel panel-default">
        <div class="panel-heading">{{'ATTENDANT.HANDPAY.CURRENT.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let k of objectKeys(handpay.settings.current)">
            <strong>{{'ATTENDANT.HANDPAY.CURRENT.'+k|translate}}</strong>:
            <span>{{handpay.settings.current[k]}}</span>
          </div>
        </div>
        <div class="panel-heading panel-heading-next">{{'ATTENDANT.HANDPAY.CASHABLE.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let k of objectKeys(handpay.settings.cashable)">
            <strong>{{'ATTENDANT.HANDPAY.CASHABLE.'+k|translate}}</strong>:
            <span>{{handpay.settings.cashable[k]}}</span>
          </div>
        </div>
        <div class="panel-heading panel-heading-next">{{'ATTENDANT.HANDPAY.NONCASHABLE.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let k of objectKeys(handpay.settings.noncashable)">
            <strong>{{'ATTENDANT.HANDPAY.NONCASHABLE.'+k|translate}}</strong>:
            <span>{{handpay.settings.noncashable[k]}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="perform">
    <button class="btn btn-lg btn-dark">{{'ATTENDANT.HANDPAY.perform_handpay'|translate}}</button>
  </section>
</article>
