<article class="accounting attendant">
  <header>
    <h3>{{'ATTENDANT.page_title'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button class="btn btn-lg btn-dark" [routerLink]="['/attendant/handpay']">
      {{'ATTENDANT.BUTTONS.handpay'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/attendant/refill']">
      {{'ATTENDANT.BUTTONS.refill'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/attendant/dump']">
      {{'ATTENDANT.BUTTONS.dump'|translate}}
    </button>
  </section>
</article>
