<article class="attendant dump refill">
  <header>
    <h3><a routerLink="/attendant">{{'ATTENDANT.page_title'|translate}}</a><span> / {{'ATTENDANT.BUTTONS.refill'|translate}}</span></h3>
  </header>
  <section class="type-filters">
    <div class="filter-lebel">{{'ATTENDANT.REFILL.enter_coins'|translate}}: </div>
    <ul class="nav nav-pills">
      <li><a (click)="addCoins(1)" tabindex="0" [tabIndex]="[1]">{{'ATTENDANT.COINS.1'|translate}}</a></li>
      <li><a (click)="addCoins(10)" tabindex="0" [tabIndex]="[2]">{{'ATTENDANT.COINS.10'|translate}}</a></li>
      <li><a (click)="addCoins(100)" tabindex="0" [tabIndex]="[3]">{{'ATTENDANT.COINS.100'|translate}}</a></li>
      <li><a *ngIf="!canClear&&totalRefill" (click)="cancelCoins()" tabindex="0" [tabIndex]="[4]">{{'ATTENDANT.COINS.cancel'|translate}}</a></li>
      <li><a *ngIf="canClear" (click)="clearCoins()" tabindex="0" [tabIndex]="[4]">{{'ATTENDANT.COINS.clear'|translate}}</a></li>
    </ul>
  </section>
  <table class="table table-striped" *ngIf="refill">
    <thead>
      <tr>
        <th>{{'ATTENDANT.COINS.1'|translate}} = {{refill.settings.currency}}{{ratio}}</th>
        <th>{{'ATTENDANT.REFILL.coins'|translate}}</th>
        <th>{{'ATTENDANT.REFILL.value'|translate}}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>{{'ATTENDANT.REFILL.refill'|translate}}</td>
        <td>{{totalRefill}}</td>
        <td>{{refill.settings.currency}}{{(totalRefill*ratio).toFixed(2)}}</td>
      </tr>
    </tfoot>
    <tbody *ngFor="let level of refill.settings.levels">
      <tr>
        <td>{{'ATTENDANT.REFILL.total'|translate}}</td>
        <td>{{totalaLevel}}</td>
        <td>{{refill.settings.currency}}{{(totalaLevel*ratio).toFixed(2)}}</td>
      </tr>
      <tr>
        <td>{{'ATTENDANT.REFILL.periodic'|translate}}</td>
        <td>{{periodicLevel}}</td>
        <td>{{refill.settings.currency}}{{(periodicLevel*ratio).toFixed(2)}}</td>
      </tr>
      <tr class="missing">
        <td>{{'ATTENDANT.REFILL.refill_level'|translate}}</td>
        <td>{{level.refill_level}}</td>
        <td>{{refill.settings.currency}}{{(level.refill_level*ratio).toFixed(2)}}</td>
      </tr>
      <tr class="missing">
        <td>{{'ATTENDANT.REFILL.missing'|translate}}</td>
        <td>{{level.missing}}</td>
        <td>{{refill.settings.currency}}{{(level.missing*ratio).toFixed(2)}}</td>
      </tr>
    </tbody>
  </table>
  <div class="confirm" *ngIf="ready">
    <button class="btn btn-lg btn-dark" (click)="close()" tabindex="0" [tabIndex]="5">
      {{'ATTENDANT.REFILL.confirm'|translate}}
    </button>
  </div>
</article>
