<nav class="navbar navbar-static-top navbar-inverse top-nav" *ngIf="config">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <ng-container *ngFor="let tab of tabs">
          <li [routerLinkActive]="['active']" *ngIf="authMenuTab(tab.link)">
            <a tabindex="0" routerLink="{{tab.link}}" [tabIndex]="[0,'click','menu']">{{'MENU.'+tab.name|translate}}</a>
          </li>
        </ng-container>
        <!-- <li [routerLinkActive]="['active']">
          <a tabindex="0" [tabIndex]="[9,'','menu']" *ngIf="!showKeypad" (click)="showKeypad=true">SK</a>
          <a tabindex="0" [tabIndex]="[9,'','menu']" *ngIf="showKeypad" (click)="showKeypad=false">HK</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- keypad - navigation by buttons -->
<section class="keypad" *ngIf="showKeypad">
  <button class="btn btn-lg btn-info" (click)="nextTab(-1)">
    <span class="glyphicon glyphicon-triangle-left"></span>
  </button>
  <button class="btn btn-lg btn-danger" (click)="goMenu()">
    <span class="glyphicon glyphicon-triangle-top"></span>
  </button>
  <button class="btn btn-lg btn-success" (click)="goDown()">
    <span>Select</span>
  </button>
  <button class="btn btn-lg btn-info" (click)="nextTab(1)">
    <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
</section>

<main class="container-fluid">
  <router-outlet></router-outlet>
  <div class="row">
    <footer>
        <strong>Spin</strong> = Enter / Edit / Select | <strong>Collect</strong> = Cancel |
        <strong>Min bet</strong> = navigate to previous item | <strong>Max bet</strong> = navigate to next item
    </footer>
  </div>
</main>

<modals></modals>
