<article class="setup initial clock">
  <header>
    <h3><a routerLink="/initial">{{'INITIAL.page_title'|translate}}</a><span> / {{'INITIAL.BUTTONS.clock'|translate}}</span></h3>
  </header>
  <table class="table" *ngIf="clock">
    <thead>
      <tr>
        <th>{{'SETUP.PARAMETER.name'|translate}}</th>
        <th>{{'SETUP.PARAMETER.value'|translate}}</th>
        <th>{{'SETUP.PARAMETER.select'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of clock.settings | keys">
        <td>{{'INITIAL.CLOCK.'+s+'.title'|translate}}</td>
        <ng-container *ngIf="clock.settings[s].options">
          <td>
            <select class="select-large"
              [(ngModel)]="clock.settings[s].value" disabled>
              <option *ngFor="let o of clock.settings[s].options" value="{{o}}">
                {{'INITIAL.CLOCK.'+s+'.VALUES.'+o|translate}}
              </option>
            </select>
          </td>
          <td *ngIf="clock.settings[s].options" class="buttons-{{s}}">
            <button class="btn-select"
              *ngFor="let o of clock.settings[s].options"
              (click)="clock.settings[s].value=o; activeButtons.set(s, o)"
              [ngClass]="{active: activeButtons.get(s)==o, active: clock.settings[s].value==o}"
              >
              {{'INITIAL.CLOCK.'+s+'.VALUES.'+o|translate}}
            </button>
          </td>
        </ng-container>
        <ng-container *ngIf="!clock.settings[s].options">
          <td>
            <input class="flat flat-large" type="text" spellcheck="false"
              mdKeyboard inputMove [(ngModel)]="clock.settings[s].value"/>
          </td>
          <td></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/initial">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
