<article class="setup initial general">
  <header>
    <h3><a routerLink="/initial">{{'INITIAL.page_title'|translate}}</a><span> / {{'INITIAL.BUTTONS.general'|translate}}</span></h3>
  </header>
  <table class="table" *ngIf="generals">
    <thead>
      <tr>
        <th>{{'SETUP.PARAMETER.name'|translate}}</th>
        <th>{{'SETUP.PARAMETER.value'|translate}}</th>
        <th>{{'SETUP.PARAMETER.select'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of generals.settings | keys">
        <td>{{'INITIAL.GENERAL.'+s+'.title'|translate}}</td>
        <ng-container *ngIf="generals.settings[s].options">
          <td>
            <select class="select-large"
              [(ngModel)]="generals.settings[s].value" disabled>
              <option *ngFor="let o of generals.settings[s].options" value="{{o}}">
                {{'INITIAL.GENERAL.'+s+'.VALUES.'+o|translate}}
              </option>
            </select>
          </td>
          <td *ngIf="generals.settings[s].options">
            <button class="btn-select"
              *ngFor="let o of generals.settings[s].options"
              (click)="generals.settings[s].value=o; activeButtons.set(s, o)"
              [ngClass]="{active: activeButtons.get(s)==o, active: generals.settings[s].value==o}"
              >
              {{'INITIAL.GENERAL.'+s+'.VALUES.'+o|translate}}
            </button>
          </td>
        </ng-container>
        <ng-container *ngIf="!generals.settings[s].options">
          <td>
            <input class="flat flat-large" type="text" *ngIf="generals.settings[s].type=='number'" keyboardNumbers
              [(ngModel)]="generals.settings[s].value"/>
            <input class="flat flat-large" type="text" *ngIf="generals.settings[s].type!='number'" mdKeyboard inputMove
              [(ngModel)]="generals.settings[s].value"/>
          </td>
          <td></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/initial">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
<numeric-keyboard></numeric-keyboard>
