<article class="setup initial">
  <header>
    <h3>{{'INITIAL.page_title'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/general']">
      {{'INITIAL.BUTTONS.general'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/clock']">
      {{'INITIAL.BUTTONS.clock'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/network']">
      {{'INITIAL.BUTTONS.network'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/coin-acceptor']">
      {{'INITIAL.BUTTONS.coin_acceptor'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/bill-acceptor']">
      {{'INITIAL.BUTTONS.bill_acceptor'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/initial/hopper']">
      {{'INITIAL.BUTTONS.hopper'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
