<article class="setup initial coin-acceptor hopper">
  <header>
    <h3><a routerLink="/initial">{{'INITIAL.page_title'|translate}}</a><span> / {{'INITIAL.BUTTONS.hopper'|translate}}</span></h3>
  </header>
  <section class="head" *ngIf="hopper">
    <div class="ac-title">
      {{'INITIAL.HOPPER.id.title'|translate}}:
      <input class="flat flat-large" type="text" spellcheck="false"
        mdKeyboard inputMove [(ngModel)]="hopper.settings.id.value"/>
    </div>
  </section>
  <table class="table" *ngIf="hopper">
    <thead>
      <tr>
        <th>{{'INITIAL.COIN.CHANNELS.title'|translate}}</th>
        <th>{{'INITIAL.COIN.CHANNELS.coin'|translate}}</th>
        <th>{{'INITIAL.COIN.CHANNELS.tokenisation'|translate}}</th>
        <th>{{'SETUP.PARAMETER.select'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ch of hopper.settings.channels; let order=index">
        <td>{{ch.channel}}</td>
        <td>{{ch.coin}} {{ch.currency}}</td>
        <td>
          <div class="channel-disabled" *ngIf="ch.enabled=='off'">{{'SETUP.ACCEPTOR.enable_off'|translate}}</div>
          <select class="select-large" *ngIf="ch.enabled=='on'"
            [(ngModel)]="ch.value" disabled>
            <option *ngFor="let o of ch.options" value="{{o}}">
              <ng-container>1 {{'INITIAL.COIN.CHANNELS.coin'|translate}} = {{o}} </ng-container>
              <ng-container *ngIf="o==1">{{'INITIAL.COIN.CHANNELS.credit'|translate}}</ng-container>
              <ng-container *ngIf="o>1">{{'INITIAL.COIN.CHANNELS.credits'|translate}}</ng-container>
            </option>
          </select>
        </td>
        <td>
          <button class="btn-select" *ngIf="ch.enabled=='on'" (click)="enableChannel(order, 'off')">
            {{'SETUP.ACCEPTOR.off'|translate}}
          </button>
          <button class="btn-select"
            *ngFor="let o of ch.options"
            (click)="ch.value=o; activeButtons.set(ch, o)"
            [ngClass]="{active: activeButtons.get(ch)==o, active: ch.value==o}"
            (click)="enableChannel(order, 'on')">
              <ng-container>{{o}}</ng-container>
              <ng-container *ngIf="o==1">{{'INITIAL.COIN.CHANNELS.credit'|translate}}</ng-container>
              <ng-container *ngIf="o>1">{{'INITIAL.COIN.CHANNELS.credits'|translate}}</ng-container>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/initial">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
