<article class="setup initial network">
  <header>
    <h3><a routerLink="/initial">{{'INITIAL.page_title'|translate}}</a><span> / {{'INITIAL.BUTTONS.network'|translate}}</span></h3>
  </header>
  <section class="scrolled">
    <table class="table" *ngIf="network">
      <thead>
        <tr>
          <th>{{'SETUP.PARAMETER.name'|translate}}</th>
          <th>{{'SETUP.PARAMETER.value'|translate}}</th>
          <th>{{'SETUP.PARAMETER.select'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of network.settings | keys">
          <td>{{'INITIAL.NETWORK.'+s+'.title'|translate}}</td>
          <ng-container *ngIf="network.settings[s].options">
            <td>
              <select class="select-large"
                [(ngModel)]="network.settings[s].value" disabled>
                <option *ngFor="let o of network.settings[s].options" value="{{o}}">
                   {{
                    ('INITIAL.NETWORK.'+s+'.VALUES.'+o|translate) == ('INITIAL.NETWORK.'+s+'.VALUES.'+o) ?
                    (o.toString()|uppercase) :
                    ('INITIAL.NETWORK.'+s+'.VALUES.'+o|translate)
                  }}
                </option>
              </select>
            </td>
            <td *ngIf="network.settings[s].options" class="buttons-{{s}}">
              <button class="btn-select"
                *ngFor="let o of network.settings[s].options"
                (click)="network.settings[s].value=o; activeButtons.set(s, o)"
                [ngClass]="{active: activeButtons.get(s)==o, active: network.settings[s].value==o}"
                >
                {{
                  ('INITIAL.NETWORK.'+s+'.VALUES.'+o|translate) == ('INITIAL.NETWORK.'+s+'.VALUES.'+o) ?
                  (o.toString()|uppercase) :
                  ('INITIAL.NETWORK.'+s+'.VALUES.'+o|translate)
                }}
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="!network.settings[s].options">
            <td>
              <input class="flat flat-large" type="text" keyboardNumbers
                [(ngModel)]="network.settings[s].value"/>
            </td>
            <td></td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/initial">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
<numeric-keyboard></numeric-keyboard>
