<article class="games-history">
  <header>
    <h3>{{'GAMEHISTORY.page_title_home'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button *ngFor="let game of games;let i=index"
      class="btn btn-lg btn-dark" [routerLink]="['/game-history/'+game.id]" >
        {{game.name}}
    </button>
  </section>
</article>
