<article class="logs game-events">
  <header>
    <h3><a routerLink="/game-history">{{'GAMEHISTORY.page_title_home'|translate}}</a><span> / {{gameName}}</span></h3>
  </header>
  <time-filters></time-filters>
  <table class="table table-striped" *ngIf="events">
    <thead>
      <tr>
        <th>{{'GAMEHISTORY.COLUMNS.id'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.time'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.game'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.in'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.out'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.feature'|translate}}</th>
        <th>{{'GAMEHISTORY.COLUMNS.result'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events.history; let i=index" data-toggle="modal" data-target="#modal-game"
          (click)="callModal(events.game.id, event.id); selectRow(event.id)" [class.active]="event.id==selectedRow">
        <td>{{event.id}}</td>
        <td>{{event.time | date: 'yyyy/MM/dd HH:mm'}}</td>
        <td>{{gameName}}</td>
        <td>{{event.in}}</td>
        <td>{{event.out}}</td>
        <td>{{event.feature}}</td>
        <td>{{event.result}}</td>
      </tr>
    </tbody>
  </table>
  <pagination (buttonClicked)="onPageChange($event)"></pagination>
</article>
<section class="modals">
  <modal-game (prevNextButton)="onModalChange($event)"></modal-game>
</section>
