<article class="logs">
  <header>
    <h3>{{'EVENTS.page_title'|translate}}</h3>
  </header>
  <time-filters (buttonClicked)="onDateChange($event)"></time-filters>
  <section class="type-filters">
    <div class="filter-lebel">{{'EVENTS.type_title'|translate}}:</div>
    <ul class="nav nav-pills">
      <li role="presentation" [ngClass]="{'active': !eventKind}">
        <a (click)="onTabTypeClick()" (focus)="cI=1" tabindex="0" [tabIndex]="[0]">All</a>
      </li>
      <li role="presentation" *ngFor="let type of types;let i=index" [ngClass]="{'active': type == eventKind}">
        <a (click)="onTabTypeClick(type)" tabindex="0" [tabIndex]="[i+1]">{{type}}</a>
      </li>
    </ul>
  </section>
  <section class="type-filters name-filters">
    <div class="filter-lebel">{{'EVENTS.name_title'|translate}}:</div>
    <ul class="nav nav-pills">
      <li role="presentation" [ngClass]="{'active': !eventName}">
        <a (click)="onTabNameClick()" (focus)="cI=1" tabindex="0" [tabIndex]="[0]">All</a>
      </li>
      <li role="presentation" *ngFor="let name of names;let i=index" [ngClass]="{'active': name == eventName}">
        <a (click)="onTabNameClick(name)" tabindex="0" [tabIndex]="[i+1]">{{name}}</a>
      </li>
    </ul>
  </section>
  <table class="table table-striped" *ngIf="events">
    <thead>
      <tr>
        <th>{{'EVENTS.COLUMNS.id'|translate}}</th>
        <th>{{'EVENTS.COLUMNS.name'|translate}}</th>
        <th>{{'EVENTS.COLUMNS.type'|translate}}</th>
        <th>{{'EVENTS.COLUMNS.value'|translate}}</th>
        <th>{{'EVENTS.COLUMNS.date'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events.actions; let i=index" data-toggle="modal" data-target="#modal-log"
          (click)="callModal(event.id); selectRow(i)" [class.active]="i==selectedRow">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.type}}</td>
        <td>{{showPayload(event.json.payload)}}</td>
        <td>{{event.inserted_at | date: 'yyyy/MM/dd HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
  <pagination (buttonClicked)="onPageChange($event)"></pagination>
</article>
<modal-event></modal-event>
