<div #modalGame id="modal-small-game" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-middle" role="document">
    <div class="modal-content" *ngIf="params">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">{{params.name}}</div>
      </div>
      <div class="modal-body">
        <div class="game-detail">
          <div class="response">
            <div><strong>{{'IDENTIFICATION.MODAL.teotical_rtp'|translate}}</strong>:<span>{{params.theoretical_rtp}}%</span></div>
            <div><strong>{{'IDENTIFICATION.MODAL.real_rtp'|translate}}</strong>:<span>{{params.real_rtp}}%</span></div>
            <div><strong>{{'IDENTIFICATION.MODAL.average'|translate}}</strong>:<span>{{params.bet_per_game}}</span></div>
            <div><strong>{{'IDENTIFICATION.MODAL.in'|translate}}</strong>:<span>{{params.total_in}}</span></div>
            <div><strong>{{'IDENTIFICATION.MODAL.out'|translate}}</strong>:<span>{{params.total_out}}</span></div>
          </div>
          <figure [ngStyle]="{'background-image': 'url('+params.image+')'}"></figure>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" routerLink="/game-history/{{params.id}}">
          {{'IDENTIFICATION.MODAL.view'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
