<section class="modals">
  <div id="modal-log" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="details">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">{{'EVENTS.MODAL.title'|translate}} (ID:{{details.id}} - fake)</div>
        </div>
        <div class="modal-body">
          <div class="result"><strong>{{'EVENTS.MODAL.type'|translate}}</strong>:<span>{{details.type}}</span></div>
          <div class="result"><strong>{{'EVENTS.MODAL.source'|translate}}</strong>:<span>{{details.source}}</span></div>
          <div class="result"><strong>{{'EVENTS.MODAL.result'|translate}}</strong>:<span>+{{details.results}}</span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-big" data-dismiss="modal">
            {{'EVENTS.MODAL.cancel'|translate}}
          </button>
          <button type="button" class="btn btn-dark"
            data-dismiss="modal" (click)="moreDetails(details.id, details.type)" data-toggle="modal" data-target="#modal-game">
            {{'EVENTS.MODAL.view'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <modal-game></modal-game>
</section>
