<div #modalGame id="modal-game" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-big" role="document">
    <div class="modal-content" *ngIf="params">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">{{params.game.name}}</div>
      </div>
      <div class="modal-body">
        <div class="game-detail">
          <figure [ngStyle]="{'background-image': 'url('+params.image+')'}"></figure>
          <div class="response">
            <table>
              <thead>
                <tr>
                  <th>{{'GAMEHISTORY.DETAIL.details'|translate}}</th>
                  <th>{{'GAMEHISTORY.DETAIL.since_last'|translate}}</th>
                  <th>{{'GAMEHISTORY.DETAIL.collected'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.time'|translate}}</strong>:<span>{{params.params.details.time}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.tokens_in'|translate}}</strong>:<span>{{params.params.last.tokens_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.bet'|translate}}</strong>:<span>{{params.params.details.bet}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.coins_in'|translate}}</strong>:<span>{{params.params.last.coins_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.result'|translate}}</strong>:<span>{{params.params.details.result}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.bills_in'|translate}}</strong>:<span>{{params.params.last.bills_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.spin'|translate}}</strong>:<span>{{params.params.details.spin}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.remote_in'|translate}}</strong>:<span>{{params.params.last.remote_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.gambles'|translate}}</strong>:<span>{{params.params.details.gambles}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.card_in'|translate}}</strong>:<span>{{params.params.last.card_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.gamble_value'|translate}}</strong>:<span>{{params.params.details.gamble_value}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.bonus_in'|translate}}</strong>:<span>{{params.params.last.bonus_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.gamble_out_value'|translate}}</strong>:<span>{{params.params.details.gamble_out_value}}</span>
                  </td>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.ticket_in'|translate}}</strong>:<span>{{params.params.last.ticket_in}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="section">{{'GAMEHISTORY.DETAIL.winning_rules'|translate}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.selected_symbol'|translate}}</strong>:<span>{{params.params.winning_rules.selected_symbol}}</span>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <strong>{{'GAMEHISTORY.DETAIL.winning_symbol'|translate}}</strong>:<span>{{params.params.winning_rules.winning_symbol}}</span>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-big" data-dismiss="modal" (click)="emitClick(-1)">{{'EVENTS.MODAL.cancel'|translate}}</button>
        <button type="button" class="btn btn-dark" *ngIf="prevId" (click)="loadPrev()">{{'GAMEHISTORY.DETAIL.BUTTONS.prev'|translate}}</button>
        <button type="button" class="btn btn-dark" *ngIf="nextId" (click)="loadNext()">{{'GAMEHISTORY.DETAIL.BUTTONS.next'|translate}}</button>
      </div>
    </div>
  </div>
</div>
