$progress-color: #ffb72e;
$success-color: #8bc53f;
$fail-color: #e82019;
$light-color: #eee;
$dark-color: #444;
$middle-color: #555;
$active-color: #4c3671;
$unactive-color: #ddd;
$hover-color: #ffe484;
$table-grey-color: #f8f8f8;
$white-color: #fff;
$black-color: #000;
$link-color: #0e9fdc;
$link-color-hover: #328db3;
$ccc-color: #ccc;
$ddd-color: #ddd;
$c222-color: #222;
$eee-color: #eee;
$c444-colcor: #444;
$c999-color: #999;
$c777-colcor: #777;
