@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../fonts/material-icons.css';
@import 'config';

@mixin data-row($width: 40%, $left: 5px) {

  strong {
    display: inline-block;
    width: $width;
  }

  span {
    display: inline-block;
    padding-left: $left;
  }

}

@mixin panel-width($width) {
  width: $width * 2 + 1.5%;
}

html,
body {
  font-size: 18px;
  margin: 0;
  padding: 0 !important;

  * {
    outline: 0;
    user-select: none;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }

  }

  .btn-big {
    border-radius: 0;
    font-size: 1.2em;
    padding: 12px 50px;
  }

  .btn-dark {
    @extend .btn-big;
    background-color: $active-color;
    border: 1px solid $active-color;
    color: $white-color;

    &:hover {
      color: $white-color;
      opacity: .9;
    }

    &:focus {
      color: $white-color;
    }

    &.btn-ok {
      background-color: $success-color;
    }

    &.btn-cancel {
      background-color: $fail-color;
    }

  }

  form {

    .form-group {

      .form-control {
        -webkit-appearance: none;
        border-radius: 0;
        font-size: 1.2em;
        height: auto;
        padding: 8px 15px;
      }

      &.active {
        color: $active-color;

        .form-control {
          border: 1px solid $active-color;
        }

      }

      input[type=checkbox] {
        -webkit-appearance: none;
        border: 1px solid $ccc-color;
        height: 30px;
        margin: 0 0 0 10px;
        text-align: center;
        transition: all .5s linear;
        vertical-align: middle;
        width: 30px;

        &::after {
          content: ' ';
        }

        &:checked {
          background-color: $light-color;
          vertical-align: middle;

          &::after {
            content: '\2713';
            font-size: 1.4em;
          }

        }

        &:focus {
          box-shadow: none;
          outline: 0 none;
        }

      }
    }
  }

  ul.nav.nav-pills {

    li {

      a {
        background: $white-color;
        border: 1px solid $active-color;
        border-radius: 50px;
        color: $active-color;
        cursor: pointer;
        margin: 4px;
        outline: none;
        padding: 4px 25px;

        &:hover {
          background-color: $active-color;
          color: $white-color;
        }

      }

      &.active {

        a {
          background-color: $active-color;
          color: $white-color;
        }

      }
    }
  }

  nav.top-nav {
    $menu-black-color: #111;
    background-color: $menu-black-color;

    .navbar-header {

      .navbar-brand {
        background-image: url('../img/logo.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 50px;
        margin: 22px 25px 0 10px;
        width: 40px;
      }

    }

    .navbar-nav > li > a {
      color: $ddd-color;
      cursor: pointer;
      font-size: 1.3em;
      line-height: inherit;
      padding: 30px;

      &:hover {
        color: $hover-color;
      }

    }

    .navbar-nav .active,
    .navbar-nav a:focus {

      a {
        color: $c222-color !important;
        background-color: $hover-color !important;
        outline: 0;
      }

    }
  }

  section.paginator {
    bottom: 30px;
    position: fixed;
    text-align: center;
    width: 100%;

    ul.pagination {

      li {

        a {
          background-color: $active-color;
          border-color: $active-color;
          border-radius: 0;
          color: $white-color;
          cursor: pointer;
          display: block;
          height: 65px;
          line-height: 60px;
          margin: 0 1px 0 0;
          outline: 0;
          padding: 0;
          width: 130px;

          strong {
            font-size: 1.8em;
            font-weight: 400;
            vertical-align: sub;
          }

        }

        span {
          border-radius: 0;
          color: $c222-color;
          cursor: default;
          display: block;
          height: 65px;
          line-height: 60px;
          padding: 0;
          width: 200px;

          &:hover {
            background-color: transparent;
          }
        }

        &.active {

          a {
            background-color: $active-color;
            border-color: $active-color;
          }

          span {
            background-color: transparent;
          }

        }

        &.unactive {

          a {
            background-color: $unactive-color;
            border-color: $unactive-color;
          }

        }

        &.noclick {

          a {
            cursor: default;
          }

        }
      }
    }
  }

  .small-pagination {

    section.paginator {
      position: initial;

      ul.pagination {
        margin: 20px 0 0;

        li {

          a,
          span {
            font-size: .8em;
            height: 45px;
            line-height: 40px;
            width: 100px;
          }

          span {
            width: 140px;
          }

        }
      }
    }
  }
}

// disable blinking cursor
input[type="text"],
input[type="number"] {
  color: transparent;
  text-shadow: 0 0 0 $black-color;
}

table.table {

  tbody {

    tr {

      td {
        padding: 7px;
      }

    }
  }

  thead {

    tr {

      th {
        padding: 3px 7px;
      }

    }
  }
}

.bootstrap-select {
  width: auto !important;

  .dropdown-toggle:focus {
    outline: 0 !important;
  }

  .bs-caret {
    display: none;
  }

  button:first-child {
    border: 1px solid $active-color;
    border-radius: 0;
    font-size: inherit;
    padding: 5px 15px;
  }

  .dropdown-menu {
    border-radius: 0;
    font-size: inherit;
    padding: 0;

    li > a {
      outline: 0;
      padding: 8px 5px 8px 15px;
    }

  }
}

select {
  -webkit-appearance: none;
  background-color: transparent;

  &.select-large {
    border: 1px solid $active-color;
    border-radius: 0;
    font-size: inherit;
    padding: 5px 15px;
    width: 280px;

    &.on {
      background-color: $success-color;
      color: $white-color;
    }

    &.off {
      background-color: $fail-color;
      color: $white-color;
    }
  }

  &.select-small {
    @extend select.select-large;
    width: auto;
  }

  &.select-xsmall {
    @extend select.select-large;
    width: 50px;
  }
}



// MD datapicker on top
.cdk-overlay-container {
  z-index: 2000;
}

input.flat {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $active-color;
  border-radius: 0;
  padding: 1px 15px;

  &.flat-long {
    width: 90%;
  }

  &.flat-large {
    padding: 5px 15px;
    width: 280px;
  }

  &.active {
    background-color: $hover-color;
  }

}

main {
  padding-bottom: 50px;
}

header {
  padding: 20px 0 40px;

  h3 {
    color: $active-color;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;

    span {
      font-weight: 400;
    }

    a {
      color: $active-color;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

    }
  }

  h4 {
    color: $dark-color;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 0;
  }

}

footer {
  background-color: $c444-colcor;
  bottom: 0;
  color: $eee-color;
  font-size: .9em;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}

section.modals {

  .modal {

    .modal-dialog {
      top: 45%;
      transform: translate(0, -50%);

      .modal-header {
        background-color: $active-color;
        border-bottom: 1px solid $light-color;
        color: $white-color;
        font-size: 1.2em;
      }

      .modal-content {
        border: 1px solid $active-color;
        border-radius: 0;
      }

      .modal-body {

        .result {
          padding: 5px 0;

          strong {
            display: inline-block;
            width: 20%;
          }

          span {
            display: inline-block;
            padding: 0 0 0 5px;
          }

        }
      }

      .modal-footer {
        text-align: center;

        button {
          margin: 0 5px;

          &:focus {
            color: $white-color;
            outline: 0;
          }

        }
      }

      &.modal-big {
        width: 90%;
      }

      &.modal-middle {
        width: 60%;
      }

    }
  }

  #modal-game {

    .game-detail {
      height: 450px;
      width: 100%;

      figure {
        background-size: 100% 100%;
        border: 1px solid $active-color;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 40%;
      }

      .response {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 59.5%;

        table {
          border: 1px solid $active-color;
          height: 100%;
          width: 100%;

          th,
          td {
            @include data-row(50%);
            padding: 0 0 0 8px;
            width: 33.3%;
          }

          th {
            background-color: $active-color;
            color: $white-color;
            font-weight: 400;
            font-size: 1.1em;
            padding: 4px 0 4px 8px;
          }

          .section {
            font-weight: bold;
          }

        }
      }

    }
  }

  #modal-small-game {

    .game-detail {
      height: 200px;
      width: 100%;

      figure {
        background-size: 100% 100%;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 50%;
      }

      .response {
        display: inline-block;
        height: 100%;
        padding: 20px 0 0 20px;
        vertical-align: top;
        width: 49%;

        div {
          @include data-row(50%);
          padding: 4px 0;
        }

      }
    }
  }

  #modal-save-confirm {
    $message-height: 50px;

    .modal-body {
      min-height: $message-height + 30px;

      .message {
        line-height: $message-height;
      }

    }

  }

  #modal-datapicker {

    .modal-body {
      margin: auto;
      width: 86%;

      .fromDate,
      .toDate {
        display: inline-block;
        padding: 40px 50px 50px 10px;
      }

      .toDate {
        padding-right: 0;
      }

    }

    .date-block {
      display: inline-block;
      position: relative;

      label {
        color: $active-color;
        display: block;
        margin: 0;
        font-size: .9em;
        font-weight: 400;
      }

      input {
        height: 40px;
        font-size: 1.2em;
        line-height: 40px;
        width: 160px;
      }

      select {
        font-size: 1.2em;
      }

      ul.hours-block {
        $black-rgb-var: rgba(0, 0, 0, .2);
        $gray-rgb-var: rgba(0, 0, 0, .14);
        $dark-rgb-var: rgba(0, 0, 0, .12);
        box-shadow: 0 5px 5px -3px $black-rgb-var, 0 8px 10px 1px $gray-rgb-var, 0 3px 14px 2px $dark-rgb-var;
        background-color: $white-color;
        margin: 0;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        width: 625px;

        li {
          border: 1px solid $active-color;
          display: inline-block;
          list-style-type: none;
          margin: 5px;

          input {
            position: absolute;
            visibility: hidden;
          }

          label {
            display: inline-block;
            padding: 10px 20px;
          }

          &:hover,
          .active {
            background-color: $active-color;

            label {
              color: $white-color;
            }

          }

          &.unactive {
            border-color: $unactive-color;

            label {
              color: $unactive-color;
            }

            &:hover {
              background-color: transparent;

              label {
                color: $unactive-color;
              }

            }

            input {
              pointer-events: none;
            }

          }
        }

        &.right {
          right: 0;
        }

      }
    }
  }

  .confirm-ram {

    .message {
      padding: 20px 0;
    }

  }
}

section.time-filters,
section.type-filters {
  padding: 0 0 30px;

  .filter-lebel {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }

  ul.nav {
    display: inline-block;
    vertical-align: middle;
  }

}

.panel-strip {
  padding: 0 1px;

  div,
  tr {
    padding: 5px 15px;

    &:nth-child(odd) {
      background-color: $table-grey-color;
      border-bottom: 1px solid $unactive-color;
      border-top: 1px solid $unactive-color;
    }

  }
}

article.home {

  .logo {
    background-image: url('../img/logo-big.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 600px;
    opacity: .1;
    width: 100%;
  }

}

article.tests-page {

  .test-status {
    text-align: center;

    div {
      display: inline-block;
      padding: 10px 50px;
      font-size: 1.5em;

      &.passed {
        border: 2px solid $success-color;
        color: $success-color;
      }

      &.failed {
        border: 2px solid $fail-color;
        color: $fail-color;
      }

    }
  }

  .panel {
    border-color: $active-color;
    display: inline-block;

    .panel-heading {
      background-color: $active-color;
      border-color: $active-color;
    }

    .panel-body {
      text-align: center;
    }

    .btn {
      border-radius: 0;
      padding: 10px 40px;

      &.btn-success {
        background-color: $active-color;
        border-color: $active-color;
      }

    }
  }

  .question {
    font-size: 1.2em;
    padding: 20px 0;
  }

  section.step-bar {
    height: 120px;
  }

  section.test {
    text-align: center;

    h3 {
      background-color: $active-color;
      color: $white-color;
      margin: 10px 0 20px;
      padding: 8px 0;
    }

  }

  section.video {

    figure {
      background-image: url('../img/video-test.jpg');
      background-size: 100% 100%;
      height: 100%;
      margin: 0;
      left: 0;
      padding: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100000;

      .confirm-box {
        position: absolute;
        right: 5%;
        top: 5%;
      }

    }
  }

  section.touchscreen {

    .points {
      position: relative;

      a.button {
        background-color: $active-color;
        border-radius: 50%;
        display: block;
        height: 100px;
        position: absolute;
        text-align: left;
        width: 100px;

        &.success {
          background-color: $success-color;
        }

        &.fail {
          background-color: $fail-color;
        }

        span {
          color: $white-color;
          font-size: 2em;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

      }
    }
  }

  section.audio {
    $width-bar: 60px;

    .channels {
      text-align: center;

      .channel {
        display: inline-block;
        height: 600px;
        position: relative;
        vertical-align: top;
        width: 300px;

        .channel-name {
          text-align: center;
        }

        .button {
          margin: 10px;
          text-align: center;

          &.button-up {
            top: 0;
          }

          &.button-down {
            bottom: 0;
            margin-top: 375px;
          }

          a {
            background-color: $active-color;
            border-radius: 50%;
            color: $white-color;
            display: inline-block;
            height: 60px;
            position: relative;
            width: 60px;

            span {
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }

          }
        }

        .progress {
          $shadow: rgba(0, 0, 0, .1);
          height: $width-bar;
          border-radius: 0;
          box-shadow: inset 0 0 10px $shadow;
          margin: 0;
          transform: rotate(-90deg) translate(-180px, -50px);
          width: 400px;

          .progress-bar {
            background-color: $active-color;
            line-height: $width-bar;

            .value {
              display: inline-block;
              font-size: 1.4em;
              transform: rotate(90deg);
            }

          }
        }
      }

    }
  }

  section.hopper {

    ul.channels {
      margin: 20px auto 50px;
      padding: 0;
      width: 90%;

      li {
        color: $unactive-color;
        display: inline-block;
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        width: 200px;

        &::before {
          border: 2px solid $unactive-color;
          border-radius: 50%;
          display: block;
          font-size: 1.3em;
          height: 70px;
          line-height: 70px;
          margin: 10px auto;
          text-align: center;
          width: 70px;
        }

        &.inprogress {
          color: $active-color;

          &::before {
            border-color: $active-color;
          }

        }

        &.success {
          color: $success-color;

          &::before {
            border-color: $success-color;
          }

        }

        &.fail {
          color: $fail-color;

          &::before {
            border-color: $fail-color;
          }

        }

        &.channel-10-cents {

          &::before {
            content: 'c10';
          }

        }

        &.channel-20-cents {

          &::before {
            content: 'c20';
          }

        }

        &.channel-50-cents {

          &::before {
            content: 'c50';
          }

        }

        &.channel-1-dolar {

          &::before {
            content: '$1';
          }

        }
      }
    }
  }

  section.bill {

    ul.channels {

      li {
        color: $unactive-color;
        display: inline-block;
        list-style: none;
        margin: 20px 0;
        padding: 0;
        text-align: center;
        width: 200px;

        &::before {
          border-radius: 0;
          height: 60px;
          line-height: 60px;
          width: 130px;
        }

        &.channel-5-dolars {

          &::before {
            content: '$5';
          }

        }

        &.channel-10-dolars {

          &::before {
            content: '$10';
          }

        }

        &.channel-20-dolars {

          &::before {
            content: '$20';
          }

        }

        &.channel-50-dolars {

          &::before {
            content: '$50';
          }

        }

        &.channel-100-dolars {

          &::before {
            content: '$100';
          }

        }

      }
    }
  }

  section.self {

    .kinds {
      width: 60%;
      margin: auto;

      .kind {
        @include data-row(40%);
        padding: 4px 0;

        strong {
          text-align: left;
        }

        span.value {
          text-align: left;
          width: 30%;

          &.success {
            color: $success-color;
          }

          &.fail {
            color: $fail-color;
          }

          .glyphicon {
            padding: 0 5px 0 0;
          }

        }
      }
    }
  }

  section.leds {

    @keyframes blinker {
      50% { opacity: 0; }
    }

    ul.channels {

      li {
        color: $unactive-color;
        display: inline-block;
        list-style: none;
        margin: 50px;
        padding: 0;
        text-align: center;

        span.glyphicon {
          font-size: 2em;
        }

        span.name {
          display: block;
        }

        &.inprogress {
          color: $active-color;

          span.glyphicon {
            animation: blinker 1s linear infinite;
          }
        }

        &.success {
          color: $success-color;
        }

        &.fail {
          color: $fail-color;
        }

      }
    }
  }

  section.summary {

    ul.list-group {
      margin: 40px auto;
      text-align: left;
      width: 300px;

      .badge-passed {
        background-color: $success-color;
      }

      .badge-failed {
        background-color: $fail-color;
      }

    }
  }
}

article.logs {

  section.time-filters {
    padding-bottom: 10px;
  }

  section.type-filters {
    padding-bottom: 10px;
  }

  section.name-filters {
    padding: 0 0 40px;
  }

  table {

    tbody {

      td {
        cursor: pointer;
        width: 23%;

        &:first-child {
          width: 8%;
        }
      }

      tr.active {

        td {
          background-color: $active-color;
          color: $white-color;
        }

      }
    }
  }

  &.game-events {

    table {

      td {
        width: auto;

        &:first-child {
          width: auto;
        }

      }
    }
  }
}

section.save-buttons {
  bottom: 50px;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0);
}

article.identification {

  section.panels {

    .panel {
      $panelHeight: 700px;
      border-color: $active-color;
      height: $panelHeight;

      &.panel-small {
        height: $panelHeight / 2 - 10px;
      }

      .panel-heading {
        background-color: $active-color;
        border-color: $active-color;
        color: $white-color;
        font-size: 1.2em;
      }

      .panel-body {
        @extend .panel-strip;

        strong {
          display: inline-block;
          width: 50%;
        }

      }

      &.panel-games {

        a {
          cursor: pointer;
          font-weight: bold;

          &:hover {
            text-decoration: none;
          }

        }
      }
    }
  }
}

.th-td-3 {

  th,
  td {
    width: 25%;

    &:first-child {
      width: 50%;
    }

  }
}

.th-td-4 {

  th,
  td {
    width: 20%;

    &:first-child {
      width: 40%;
    }

  }
}

.buttons-group-home {
  margin: 2% auto 0;
  text-align: center;
  width: 90%;

  button {
    font-size: 1.4em;
    margin: 1%;
    padding: 70px 10px;
    width: 29%;
  }

}

.panel-blue {
  border-color: $active-color;
  display: inline-block;
  margin: 0 1.5% 1.8% 0;
  vertical-align: top;

  .panel-heading {
    background-color: $active-color;
    border-color: $active-color;
    color: $white-color;
    font-size: 1.1em;
  }

  .panel-body {
    @extend .panel-strip;

    div {
      @include data-row;
    }

    .total {
      font-weight: bold;
    }

    .block {
      padding: 6px 0;
    }

  }
}

article.accounting {
  $panel-width: 23.5%;

  &.meters {

    .panel {
      $pHeight: 515px;
      $marginTop: 20px;
      height: $pHeight;
      width: 100%;

      &.percentage {
        height: ($pHeight / 2) - ($marginTop / 2);
        margin-top: $marginTop;
      }

      &.cashless {
        height: ($pHeight / 2) - ($marginTop / 2) - 9px;
      }

      div {
        @include data-row(48%);
      }

    }

  }

  &.acceptor {

    .history {
      @extend .th-td-3
    }

    .channels {

      .panel {
        width: $panel-width;

        &:nth-child(5),
        &:nth-child(9) {
          margin-right: 0;
        }

      }

      .acceptance {

        .panel {
          @include panel-width($panel-width);
        }

      }
    }
  }

  &.security {

    .channels {

      .panel {
        width: 32%;

        &:nth-child(4),
        &:nth-child(7) {
          margin-right: 0;
        }

      }
    }

    .history {
      @extend .th-td-3;
    }

  }

  &.cashless {

    .channels {

      .panel {
        height: 520px;
        width: 32%;

        &:nth-child(4),
        &:nth-child(7) {
          margin-right: 0;
        }

        div {
          @include data-row(55%);
        }

      }

      .card-handpay {
        display: inline-block;
        width: 32%;

        .panel {
          height: 406px;
          width: 100%;
        }

        .handpay {
          height: auto;
          margin-top: 20px;
        }

      }
    }

    .history {
      @extend .th-td-4;
    }

  }

  &.hopper {

    .totals {

      .panel {
        @include panel-width($panel-width);
      }

    }
  }

  &.power {

    .channels {

      .panel {
        @include panel-width($panel-width);
      }

    }

    .history {

      th,
      td {

        &:first-child {
          width: 60%;
        }

      }
    }
  }

  &.progressive {

    .panel {
      width: 100%;
    }

  }

  section.buttons-group {
    @extend .buttons-group-home;
  }

  .section-title {
    font-size: 1.5em;
    padding: 10px 0;
  }

  .panel {
    @extend .panel-blue;
  }

  .history {

    .panel {
      height: 520px;
      width: 100%;

      table {
        margin-bottom: 0;
        width: 100%;

        th {
          font-weight: normal;

          &:not(:first-child) {
            padding-left: 15px;
          }

        }

        td {
          padding: 5px 0 5px 15px;
          white-space: nowrap;
        }

      }
    }
  }
}

article.attendant {

  &.handpay {

    .panel-body {
      @extend .panel-strip;
    }

    .col-md-6 {
      padding: 0 80px;
    }

    .panel {
      width: 100%;

      .panel-heading-next {
        border-radius: 0;
      }

    }

    section.perform {
      padding: 20px 0 0;
      text-align: center;
    }

  }

  &.dump {

    .description {
      font-size: .9em;
      text-align: right;
    }

    th {

      &:first-child {
        width: 60%;
      }

    }

    td {
      border-top: 0;
    }

    tfoot {

      td {
        border-top: 1px solid $active-color;
        color: $active-color;
        font-weight: bold;
      }

    }

    .confirm {
      padding: 30px 0 0;
      text-align: center;
    }

  }

  &.refill {

    tr.missing {

      td {
        color: $unactive-color;
        font-size: .9em;
        font-weight: normal;
      }

    }

    tr:not([class]) + tr.missing {

      td {
        border-top: 1px solid $unactive-color;
      }

    }
  }
}

article.games-history {

  section.buttons-group {
    @extend .buttons-group-home;
  }

}

article.setup {

  section.buttons-group {
    @extend .buttons-group-home;
  }

  section.head {
    padding: 0 0 50px;
    text-align: center;

    .ac-title {
      font-size: 1.3em;
      font-weight: bold;
      padding: 0 0 20px;

      span {
        font-weight: 400;
      }

      input {
        font-weight: normal;
        margin: 0 0 0 10px;
      }

    }

    select {
      margin-right: 40px;
      width: auto;
    }

    select {
      margin-right: 40px;
      width: auto;
    }

    select.flat {
      color: $active-color;
      font-size: 1.2em;
      padding: 5px 20px;
    }

  }

  .btn-select {
    background-color: $white-color;
    border: 1px solid $active-color;
    border-radius: 20px;
    color: $active-color;
    margin: 0 20px 0 0;
    padding: 5px 15px;

    &.active,
    &:hover {
      background-color: $hover-color;
    }

  }

  .setup-input {
    border: 1px solid $active-color;
    padding: 5px 15px;
    width: 250px;
  }

  &.limit {

    table {

      td {
        padding-bottom: 15px;
        padding-top: 15px;
        vertical-align: middle;
      }

    }
  }

  &.parameter {

    table {

      td {
        vertical-align: middle;

        select.flat {
          width: 300px;
        }

      }

    }
  }

  &.coin-acceptor {

    table {

      td {
        vertical-align: middle;
      }

    }
  }

  &.bill-acceptor {

    th:nth-child(1),
    th:nth-child(2) {
      width: 15%;
    }

    th:nth-child(3) {
      width: 20%;
    }

    .directions {

      select {
        margin: 5px 10px 0 0;

        &.on {
          background-color: $success-color;
          color: $white-color;
        }

        &.off {
          background-color: $fail-color;
          color: $white-color;
        }

      }
    }
  }

  &.hopper {

    section.head {
      padding-bottom: 40px;
    }

    .channel {
      font-size: 1.1em;
      padding: 0 0 40px;
      text-align: center;

      .nubmer {
        font-weight: bold;
      }

    }
  }

  &.ticket {

    th,
    td {

      &:first-child {
        width: 40%;
      }

    }

    .ticket-info {
      margin: 10px 0 30px;
    }

    .ticket-setup {

      select.flat {
        width: 300px;
      }

    }
  }

  section.scrolled {
    height: 620px;
    overflow-y: scroll;

    &.scrolled-small {
      height: 510px;
    }

    &::-webkit-scrollbar {
      width: 30px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid $eee-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $active-color;
    }

  }
}

article.initial {

  $marin-bottom-button: 15px;

  table {

    th {

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 20%;
      }

    }
  }

  &.clock {

    .buttons-time_zone {

      .btn-select {
        margin-bottom: $marin-bottom-button;
      }

    }
  }

  &.coin-acceptor {

    .channel-disabled {
      color: $white-color;
      padding: 7px 20px;
      background-color: $fail-color;
      width: 280px;
    }

    table {

      th {

        &:nth-child(1) {
          width: 7%;
        }

        &:nth-child(2) {
          width: 10%;
        }

      }

      td {
        vertical-align: top;

        &:nth-child(4) {

          .btn-select {
            margin-bottom: $marin-bottom-button;
          }

        }
      }
    }
  }
}

section.numeric-keyboard {
  background-color: $c444-colcor;
  border: 1px solid $c444-colcor;
  position: absolute;
  right: 8px;
  top: 100px;

  .numbers {

    button {
      background-color: $white-color;
      border: 1px solid $active-color;
      border-radius: 0;
      color: $active-color;
      display: inline-block;
      font-size: 2.5em;
      height: 82px;
      margin: 12px 0 12px 12px;
      text-align: center;
      width: 82px;

      &:focus {
        background-color: $active-color;
        color: $white-color;
      }

      &:hover {
        background-color: $white-color;
        color: $active-color;
      }

      &:active {
        background-color: $active-color;
        color: $white-color;
      }

      &.clear {
        background-color: $fail-color;
        color: $white-color;
        float: right;
        margin-right: 12px;
        position: relative;

        span {
          position: absolute;
          top: 45%;
          display: inline-block;
          font-size: 1.2em;
          transform: translate(-50%, -50%);
        }

      }
    }
  }
}

section.keypad {
  border: 1px solid $c999-color;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 94px;
  z-index: 100;
}
