@import 'config';

@mixin gray-stripe {
  background-color: $unactive-color;
  background-size: 35px;
}

@mixin blue-stripe {
  background-size: 35px 35px;
  background-color: $active-color;
}

@mixin green-stripe {
  background-size: 35px 35px;
  background-color: $success-color;
}

@mixin inner-shadow {
  $inner-shadow-color: rgba(0, 0, 0, .1);
  box-shadow: inset 0 2px 2px 0 $inner-shadow-color;
}

@keyframes myanimation {

  from {
    left: 0%;
	}

  to {
    left: 50%;
	}
}

h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: $c777-colcor;
}

.checkout-wrap {
  color: $c444-colcor;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 95%;
  position: relative;
}

ul.checkout-bar {

  li {
    color: $ccc-color;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px 14px 80px;
    position: relative;

    &::before {
      $shadow-color: rgba(0, 0, 0, .2);
      @include inner-shadow;
      background: $unactive-color;
      border: 2px solid $white-color;
      border-radius: 50%;
      color: $white-color;
      font-size: 16px;
      font-weight: 700;
      left: 20px;
      line-height: 37px;
      height: 35px;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px $shadow-color;
      top: 4px;
      width: 35px;
      z-index: 999;
		}

    &.active {
      color: $active-color;
      font-weight: bold;

      a {
        color: $active-color;
      }

      &::before {
        background: $active-color;
        z-index: 99999;
	    }
	  }

    &.fail {

      &::before {
        background: $fail-color;
			}

      a {
        color: $fail-color;
			}

		}

    &.visited {
      background: $success-color;
      z-index: 99999;

      a {
        color: $success-color;
		  }

      &::before {
        background: $success-color;
        z-index: 99999;
	    }
	  }

    &:nth-child(1) {

      &::before {
        content: '1';
	    }
	  }

    &:nth-child(2) {
      &::before {
        content: '2';
	    }
	  }

    &:nth-child(3) {
      &::before {
        content: '3';
	    }
	  }

    &:nth-child(4) {

      &::before {
        content: '4';
	    }
	  }

    &:nth-child(5) {

      &::before {
        content: '5';
	    }
	  }

    &:nth-child(6) {

      &::before {
        content: '6';
	    }
	  }

    &:nth-child(7) {

      &::before {
        content: '7';
	    }
	  }

    &:nth-child(8) {

      &::before {
        content: '8';
	    }

	  }

    &:nth-child(9) {

      &::before {
        content: '9';
	    }
	  }

    &:nth-child(10) {
      &::before {
        content: '10';
	    }
	  }

	}

  a {
    color: $unactive-color;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;

    &.emptyLink {
      cursor: default;
		}

	}
}

@media all and (min-width: 800px) {

  .checkout-bar {

    li.active {

      &::after {
        @include blue-stripe;
        @include inner-shadow;
        animation: myanimation 1s 0s;
        content: '';
        height: 15px;
        width: 100%;
        left: 50%;
        position: absolute;
        top: -50px;
        z-index: 0;
			}
	  }
	}

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    @include inner-shadow;
    @include gray-stripe;
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;

    &::before {
      @include green-stripe;
      @include inner-shadow;
      border-radius: 15px;
      content: ' ';
      height: 15px;
      left: 0;
      position: absolute;
      width: 7%;
    }

    &.begin {

      &::before {
        @include gray-stripe;
			}
		}

    &.started {

      &::before {
        @include blue-stripe;
			}
		}

    li {
      display: inline-block;
      margin: 50px 0 0;
      padding: 0;
      text-align: center;
      width: 11.1%;

      &::before {
        height: 45px;
        left: 40%;
        line-height: 45px;
        position: absolute;
        top: -65px;
        width: 45px;
        z-index: 99;
      }

      &.visited {
        background: none;

        &::after {
          @include green-stripe;
          @include inner-shadow;
          content: '';
          height: 15px;
          left: 50%;
          position: absolute;
          top: -50px;
          width: 90%;
          z-index: 9;
        }

        &.active {

          &::after {
            @include blue-stripe;
          }

          &::before {
            @include blue-stripe;
					}

          a {
            color: $active-color;
					}
				}

        &.fail {
          &::after {
            @include gray-stripe;
            animation: none;
					}

          &::before {
            background-color: $fail-color;
					}
				}

        &.revisited {

          &::after {
            @include green-stripe;
					}

          &::before {
            @include green-stripe;
					}

          a {
            color: $success-color;
					}
				}
      }

      &.fail::after {
        @include gray-stripe;
        animation: none;
      }

      &:first-child {

        &.visited {

          &::before {
            @include green-stripe;
          }

          &.active {

            &::before {
              @include blue-stripe;
            }

					}

          &.revisited {

            &::after {
              @include green-stripe;
						}

            &::before {
              @include green-stripe;
						}

            a {
              color: $success-color;
						}
					}
				}
			}

      &:last-child {

        &::after {
          width: 50%;
          border-radius: 15px;
				}
			}
    }

    &.failed {

      &::before {
        background-color: $fail-color;
			}
		}
  }
}
