<article class="setup coin-acceptor">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.coin_acceptor'|translate}}</span></h3>
  </header>
  <section class="head" *ngIf="acceptor">
    <div class="ac-title">ID: <span>{{acceptor.id}}</span></div>
    <select class="select-small" name="acceptor-enable" [(ngModel)]="acceptor.enabled"
      [ngClass]="{on: acceptor.enabled=='on', off: acceptor.enabled=='off'}" disabled>
      <option *ngFor="let o of params.general.options" [value]="o">
        {{'SETUP.ACCEPTOR.enable_'+o|translate}}
      </option>
    </select>
    <button class="btn-select"
      *ngFor="let o of params.general.options"
      (click)="acceptor.enabled=o; activeButtons.set('general', o)"
      [ngClass]="{active: activeButtons.get('general')==o, active: acceptor.enabled==o}"
      >
      {{'SETUP.ACCEPTOR.'+o|translate}}
    </button>
  </section>
  <section class="set-parmas" *ngIf="acceptor && acceptor.enabled=='on'">
    <table class="table">
      <thead>
        <tr>
          <th>{{'SETUP.ACCEPTOR.channel'|translate}}</th>
          <th>{{'SETUP.ACCEPTOR.value'|translate}}</th>
          <th>{{'SETUP.ACCEPTOR.enable'|translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of acceptor.channels; let i = index">
          <td>{{c.no}}</td>
          <td>{{c.currency}}{{c.value}}</td>
          <td>
            <select class="select-small" name="channel-enable" disabled
              [(ngModel)]="acceptor.channels[i].enabled" tabindex="0" [tabIndex]="[i]" (focus)="cI=i"
              [ngClass]="{on: acceptor.channels[i].enabled=='on', off: acceptor.channels[i].enabled=='off'}">
              <option *ngFor="let o of params.channels.options" [value]="o">{{'SETUP.ACCEPTOR.'+o|translate}}</option>
            </select>
          </td>
          <td>
            <button class="btn-select"
              *ngFor="let o of params.channels.options"
              (click)="acceptor.channels[i].enabled=o; activeButtons.set(i, o)"
              [ngClass]="{active: activeButtons.get(i)==o, active: acceptor.channels[i].enabled==o}"
              >
              {{'SETUP.ACCEPTOR.'+o|translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm" (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
