<article class="setup">
  <header>
    <h3>{{'SETUP.page_title'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/limit']">
      {{'SETUP.BUTTONS.limit'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/parameter']">
      {{'SETUP.BUTTONS.parameter'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/coin']">
      {{'SETUP.BUTTONS.coin_acceptor'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/bill']">
      {{'SETUP.BUTTONS.bill_acceptor'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/hopper']">
      {{'SETUP.BUTTONS.hopper'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/printer']">
      {{'SETUP.BUTTONS.printer'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/setup/ticket']">
      {{'SETUP.BUTTONS.ticket'|translate}}
    </button>
  </section>
</article>
