<article class="setup limit hopper">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.hopper'|translate}}</span></h3>
  </header>
  <section class="head" *ngIf="hopper">
    <div class="ac-title">ID: <span>{{hopper.id}}</span></div>
    <select class="select-small" [(ngModel)]="hopper.enabled"
      [ngClass]="{on: hopper.enabled=='on', off: hopper.enabled=='off'}"disabled>
      <option *ngFor="let o of params.general.options" [value]="o">
        {{'SETUP.ACCEPTOR.enable_'+o|translate}}
      </option>
    </select>
    <button class="btn-select"
      *ngFor="let o of params.general.options"
      (click)="hopper.enabled=o; activeButtons.set('hopper', o)"
      [ngClass]="{active: activeButtons.get('hopper')==o, active: hopper.enabled==o}"
      >
      {{'SETUP.ACCEPTOR.'+o|translate}}
    </button>
  </section>
  <section class="set-parmas" *ngIf="hopper && hopper.enabled=='on'">
    <div class="channel-data" *ngFor="let ch of hopper.channels; let i=index">
      <section class="channel">
        <div class="number">{{'SETUP.HOPPER.channel'|translate}}: <span>{{ch.no}}</span></div>
        <div class="rate">1 {{'SETUP.HOPPER.coin'|translate}} = <span>{{ch.currency}}{{ch.value}}</span></div>
      </section>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>{{'SETUP.LIMIT.min'|translate}}</th>
            <th>{{'SETUP.LIMIT.current'|translate}}</th>
            <th>{{'SETUP.LIMIT.max'|translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{'SETUP.HOPPER.full_level'|translate}}</td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].full_level.min"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].full_level.current"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].full_level.max"></td>
            <td>{{'SETUP.HOPPER.coins'|translate}}</td>
          </tr>
          <tr>
            <td>{{'SETUP.HOPPER.low_level'|translate}}</td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].low_level.min"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].low_level.current"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].low_level.max"></td>
            <td>{{'SETUP.HOPPER.coins'|translate}}</td>
          </tr>
          <tr>
            <td>{{'SETUP.HOPPER.refill_level'|translate}}</td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].refill_level.min"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].refill_level.current"></td>
            <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="hopper.channels[i].refill_level.max"></td>
            <td>{{'SETUP.HOPPER.coins'|translate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
<numeric-keyboard></numeric-keyboard>
