<article class="setup limit">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.limit'|translate}}</span></h3>
  </header>
  <table class="table" *ngIf="limit">
    <thead>
      <tr>
        <th></th>
        <th>{{'SETUP.LIMIT.min'|translate}}</th>
        <th>{{'SETUP.LIMIT.current'|translate}}</th>
        <th>{{'SETUP.LIMIT.max'|translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of limit.limits | keys">
        <td>{{'SETUP.LIMIT.'+l|translate}}</td>
        <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="limit.limits[l].min"></td>
        <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="limit.limits[l].current"></td>
        <td><input class="flat" type="text" keyboardNumbers [(ngModel)]="limit.limits[l].max"></td>
        <td>{{'SETUP.LIMIT.credits'|translate}}</td>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
<numeric-keyboard></numeric-keyboard>
