<section class="modals">
  <div id="modal-save-confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <div class="modal-title">{{'MESSAGES.confir_title'|translate}}</div>
        </div>
        <div class="modal-body">
          <div class="message ok" *ngIf="saved">{{'MESSAGES.saved_ok'|translate}}</div>
          <div class="message fail" *ngIf="error">{{'MESSAGES.saved_fail'|translate}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            {{'BUTTONS.ok'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-clear-ram" class="modal fade confirm-ram" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{'INITIAL.CLEARRAM.title'|translate}}</div>
        </div>
        <div class="modal-body">
          <div class="message">{{'INITIAL.CLEARRAM.query'|translate}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" routerLink="/identification">
            {{'BUTTONS.cancel'|translate}}
          </button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" data-toggle="modal" data-target="#modal-clear-ram-confirm">
            {{'BUTTONS.ok'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-clear-ram-confirm" class="modal fade confirm-ram" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{'INITIAL.CLEARRAM.title'|translate}}</div>
        </div>
        <div class="modal-body">
          <div class="message">{{'INITIAL.CLEARRAM.confirm'|translate}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" routerLink="/identification">
            {{'BUTTONS.no'|translate}}
          </button>
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="clearingRam()">
            {{'BUTTONS.yes'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
