<article class="setup parameter">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.parameter'|translate}}</span></h3>
  </header>
  <section class="scrolled">
    <table class="table" *ngIf="parameter">
      <thead>
        <tr>
          <th>{{'SETUP.PARAMETER.name'|translate}}</th>
          <th>{{'SETUP.PARAMETER.value'|translate}}</th>
          <th>{{'SETUP.PARAMETER.select'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of parameter.parameters | keys">
          <td>{{'SETUP.PARAMETER.'+p+'.title'|translate}}</td>
          <td>
            <select class="select-large" name="{{parameter.parameters[p]}}" [(ngModel)]="parameter.parameters[p]" disabled>
              <option value="{{t}}" *ngFor="let t of ('SETUP.PARAMETER.'+p+'.VALUES'|translate) | keys">
                {{'SETUP.PARAMETER.'+p+'.VALUES.'+t|translate}}
              </option>
            </select>
          </td>
          <td>
            <button class="btn-select"
              *ngFor="let t of ('SETUP.PARAMETER.'+p+'.VALUES'|translate) | keys"
              (click)="parameter.parameters[p]=t; activeButtons.set(p, t)"
              [ngClass]="{active: activeButtons.get(p)==t, active: parameter.parameters[p]==t}"
              >
              {{'SETUP.PARAMETER.'+p+'.VALUES.'+t|translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
