<article class="setup printer">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.printer'|translate}}</span></h3>
  </header>
  <section class="head" *ngIf="printer">
    <div class="ac-title">ID: <span>{{printer.id}}</span></div>
    <select class="select-small" name="acceptor-enable" [(ngModel)]="printer.enabled"
      [ngClass]="{on: printer.enabled=='on', off: printer.enabled=='off'}"disabled>
      <option *ngFor="let o of params.general.options" [value]="o">
        {{'SETUP.ACCEPTOR.enable_'+o|translate}}
      </option>
    </select>
    <button class="btn-select"
      *ngFor="let o of params.general.options"
      (click)="printer.enabled=o; activeButtons.set('printer', o)"
      [ngClass]="{active: activeButtons.get('printer')==o, active: printer.enabled==o}"
      >
      {{'SETUP.ACCEPTOR.'+o|translate}}
    </button>
  </section>
  <table class="table ticket-setup" *ngIf="printer && printer.enabled=='on'">
    <thead>
      <tr>
        <th>{{'SETUP.PRINTER.title'|translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of printer.setup | keys">
        <td>{{'SETUP.PRINTER.SETTINGS.'+p+'.title'|translate}}</td>
        <td>
          <input class="flat flat-long" type="text" spellcheck="false"
            mdKeyboard inputMove inputNumbers [(value)]="printer.setup[p]">
        </td>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
