<article class="setup ticket">
  <header>
    <h3><a routerLink="/setup">{{'SETUP.page_title'|translate}}</a><span> / {{'SETUP.BUTTONS.ticket'|translate}}</span></h3>
  </header>
  <table class="table ticket-info" *ngIf="ticket">
    <thead>
      <tr>
        <th>{{'SETUP.TICKET.ticket_info'|translate}}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{'SETUP.TICKET.typ_validation'|translate}}</td>
        <td>{{ticket.info.validation}}</td>
      </tr>
      <tr>
        <td>{{'SETUP.TICKET.bar_code'|translate}}</td>
        <td>{{ticket.info.barcode}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table ticket-setup" *ngIf="ticket">
    <thead>
      <tr>
        <th>{{'SETUP.TICKET.ticket_setup'|translate}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let p of ticket.setup | keys">
        <tr *ngIf="'SETUP.TICKET.'+p+'.VALUES'|translate">
          <td>{{'SETUP.TICKET.'+p+'.title'|translate}}</td>
          <td>
            <select class="select-large" name="{{ticket.setup[p]}}" [(ngModel)]="ticket.setup[p]" disabled>
              <option value="{{t}}" *ngFor="let t of ('SETUP.TICKET.'+p+'.VALUES'|translate) | keys">
                {{'SETUP.TICKET.'+p+'.VALUES.'+t|translate}}
              </option>
            </select>
          </td>
          <td>
            <button class="btn-select"
              *ngFor="let t of ('SETUP.TICKET.'+p+'.VALUES'|translate) | keys"
              (click)="ticket.setup[p]=t; activeButtons.set(p, t)"
              [ngClass]="{active: activeButtons.get(p)==t, active: ticket.setup[p]==t}"
              >
              {{'SETUP.TICKET.'+p+'.VALUES.'+t|translate}}
            </button>
          </td>
        </tr>
      </ng-container>
      <tr>
        <td>{{'SETUP.TICKET.date_format.title'|translate}}</td>
        <td>
          <select class="select-large" name="date_format" [(ngModel)]="ticket.setup.date_format" disabled>
            <option *ngFor="let o of params.date.options" [value]="o">{{o}}</option>
          </select>
        </td>
        <td>
          <button class="btn-select"
            *ngFor="let o of params.date.options"
            (click)="ticket.setup.date_format=o; activeButtons.set('date_format', o)"
            [ngClass]="{active: activeButtons.get('date_format')==o, active: ticket.setup['date_format']==o}"
            >
            {{o}}
          </button>
        </td>
      </tr>
      <tr>
        <td>{{'SETUP.TICKET.handapy.title'|translate}}</td>
        <td>
          <select class="select-large"  name="handapy" [(ngModel)]="ticket.setup.handapy" disabled>
            <option *ngFor="let o of params.handapy.options" [value]="o">{{'SETUP.ACCEPTOR.'+o|translate}}</option>
          </select>
        </td>
        <td>
          <button class="btn-select"
            *ngFor="let o of params.handapy.options"
            (click)="ticket.setup.handapy=o; activeButtons.set('handapy', o)"
            [ngClass]="{active: activeButtons.get('handapy')==o, active: ticket.setup['handapy']==o}"
            >
            {{'SETUP.ACCEPTOR.'+o|translate}}
          </button>
        </td>
      </tr>
      <tr>
        <td>{{'SETUP.TICKET.ticket.title'|translate}}</td>
        <td>
          <select class="select-large"  name="ticket" [(ngModel)]="ticket.setup.ticket" disabled>
            <option *ngFor="let o of params.ticket.options" [value]="o">{{'SETUP.ACCEPTOR.'+o|translate}}</option>
          </select>
        </td>
        <td>
          <button class="btn-select"
            *ngFor="let o of params.ticket.options"
            (click)="ticket.setup.ticket=o; activeButtons.set('ticket', o)"
            [ngClass]="{active: activeButtons.get('ticket')==o, active: ticket.setup['ticket']==o}"
            >
            {{'SETUP.ACCEPTOR.'+o|translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <section class="save-buttons">
    <button class="btn btn-lg btn-dark btn-cancel" routerLink="/setup" tabindex="0" [tabIndex]="[cI+1]">
      {{'BUTTONS.cancel'|translate}}
    </button>
    <button class="btn btn-lg btn-dark btn-ok" data-toggle="modal" data-target="#modal-save-confirm"
      (click)="save()" tabindex="0" [tabIndex]="[cI+2]">
      {{'BUTTONS.save'|translate}}
    </button>
  </section>
</article>
<modal-setup></modal-setup>
