<article class="accounting cashless">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.cashless'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row" *ngIf="cashless">
    <div class="channels col-md-8">
      <div class="section-title">{{'ACCOUNTING.BUTTONS.cashless'|translate}}</div>
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.CASHLESS.TOTALS.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of cashless.totals | keys">
            <strong>{{'ACCOUNTING.CASHLESS.TOTALS.'+p|translate}}</strong>:
            <span>{{isCurrency('TOTALS.'+p)}}{{cashless.totals[p]}}</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.CASHLESS.PRINTER.title'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of cashless.printer | keys">
            <strong>
              {{ whatExist([
                  'ACCOUNTING.CASHLESS.TOTALS.'+p|translate,
                  'ACCOUNTING.CASHLESS.PRINTER.'+p|translate,
                  'ACCOUNTING.CASHLESS.CARD.'+p|translate ])
              }}
            </strong>:
            <span>{{isCurrency('PRINTER.'+p)}}{{cashless.printer[p]}}</span>
          </div>
        </div>
      </div>
      <div class="card-handpay">
        <div class="panel panel-default card">
          <div class="panel-heading">{{'ACCOUNTING.CASHLESS.CARD.title'|translate}}</div>
          <div class="panel-body">
            <div *ngFor="let p of cashless.card | keys">
              <strong>
                {{ whatExist([
                    'ACCOUNTING.CASHLESS.TOTALS.'+p|translate,
                    'ACCOUNTING.CASHLESS.PRINTER.'+p|translate,
                    'ACCOUNTING.CASHLESS.CARD.'+p|translate ])
                }}
              </strong>:
              <span>{{isCurrency('CARD.'+p)}}{{cashless.card[p]}}</span>
            </div>
          </div>
        </div>
        <div class="panel panel-default handpay">
          <div class="panel-heading">{{'ACCOUNTING.CASHLESS.HANDPAY.title'|translate}}</div>
          <div class="panel-body">
            <div>
              <strong>{{'ACCOUNTING.CASHLESS.HANDPAY.total'|translate}}</strong>:
              <span>{{currency}}{{cashless.handpay.total}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="history col-md-4">
      <div class="section-title">{{'ACCOUNTING.CASHLESS.HISTORY.title'|translate}}</div>
      <div class="panel panel-default panel-big">
        <div class="panel-heading">
          <table>
            <thead>
              <tr>
                <th>{{'ACCOUNTING.HISTORY.time'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.channel'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.status'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.value'|translate}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="panel-body" *ngIf="history">
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let h of history.history">
                <td>{{h.date}}</td>
                <td>{{h.channel}}</td>
                <td>{{'ACCOUNTING.STATUS.'+h.status|translate}}</td>
                <td>{{h.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination (buttonClicked)="onPageChange($event)" class="small-pagination"></pagination>
    </div>
  </section>
</article>
