<article class="accounting error">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.error'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row">
    ERRORs
  </section>
</article>
