<article class="accounting">
  <header>
    <h3>{{'ACCOUNTING.page_title'|translate}}</h3>
  </header>
  <section class="buttons-group">
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/meters']">
      {{'ACCOUNTING.BUTTONS.meters'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/progressive']">
      {{'ACCOUNTING.BUTTONS.progressive'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting']">
      {{'ACCOUNTING.BUTTONS.multigame'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/power']">
      {{'ACCOUNTING.BUTTONS.power'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/cashless']">
      {{'ACCOUNTING.BUTTONS.cashless'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/security']">
      {{'ACCOUNTING.BUTTONS.security'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/acceptor']">
      {{'ACCOUNTING.BUTTONS.acceptor'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/hopper']">
      {{'ACCOUNTING.BUTTONS.hopper'|translate}}
    </button>
    <button class="btn btn-lg btn-dark" [routerLink]="['/accounting/error']">
      {{'ACCOUNTING.BUTTONS.error'|translate}}
    </button>
  </section>
</article>
