<article class="accounting acceptor hopper">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.hopper'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row" *ngIf="hopper">
    <div class="channels col-md-8">
      <div class="totals">
        <div class="section-title">{{'ACCOUNTING.HOPPER.TOTALS.title'|translate}}</div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div *ngFor="let total of hopper.totals | keys">
              <strong>{{'ACCOUNTING.HOPPER.TOTALS.'+total|translate}}</strong>:
              <span>{{hopper.totals[total]}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="channels">
        <div class="section-title">{{'ACCOUNTING.ACCEPTOR.CHANNELS.title'|translate}}</div>
        <div class="panel panel-default" *ngFor="let channel of hopper.channels">
          <div class="panel-heading">{{'ACCOUNTING.ACCEPTOR.CHANNELS.channel'|translate}} {{channel.channel}}</div>
          <div class="panel-body">
            <div>
              <strong>{{'ACCOUNTING.ACCEPTOR.CHANNELS.value'|translate}}</strong>:
              <span>{{hopper.currency}}{{channel.value}}</span>
            </div>
            <div>
              <strong>{{'ACCOUNTING.ACCEPTOR.CHANNELS.count'|translate}}</strong>:
              <span>{{channel.count}}</span>
            </div>
            <div>
              <strong>{{'ACCOUNTING.ACCEPTOR.CHANNELS.credit'|translate}}</strong>:
              <span>{{channel.credit}}</span>
            </div>
            <div class="total"><strong></strong> <span>{{hopper.currency}}{{channel.sum}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="history col-md-4">
      <div class="section-title">{{'ACCOUNTING.HISTORY.title'|translate}}</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <table>
            <thead>
              <tr>
                <th>{{'ACCOUNTING.HISTORY.time'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.channel'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.status'|translate}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="panel-body" *ngIf="history">
          <table>
            <tbody>
              <tr *ngFor="let h of history.history">
                <td>{{h.date}}</td>
                <td>{{h.channel}}</td>
                <td>{{'ACCOUNTING.STATUS.'+h.status|translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination (buttonClicked)="onPageChange($event)" class="small-pagination"></pagination>
    </div>
  </section>
</article>
