<article class="accounting meters">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.meters'|translate}}</span></h3>
  </header>
  <section class="data row" *ngIf="meters">
    <div class="section-title">&nbsp;</div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.METERS.GENERAL.label'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of meters.params.general | keys">
            <strong>{{'ACCOUNTING.METERS.GENERAL.'+p|translate}}</strong>:
            <span>
              <ng-container *ngIf="p!='games'">{{meters.currency}}</ng-container>{{meters.params.general[p]}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.METERS.COINS.label'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of meters.params.coins | keys">
            <strong>{{'ACCOUNTING.METERS.COINS.'+p|translate}}</strong>:
            <span>{{meters.currency}}{{meters.params.coins[p]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.METERS.BANKNOTES.label'|translate}}</div>
        <div class="panel-body">
          <ng-container *ngFor="let p of meters.params.banknotes | keys" >
            <div *ngIf="p!='banknote'">
              <strong>{{'ACCOUNTING.METERS.BANKNOTES.'+p|translate}}</strong>:
              <span>{{meters.currency}}{{meters.params.banknotes[p]}}</span>
            </div>
          </ng-container>
          <div *ngFor="let b of meters.params.banknotes.banknote | keys">
            <strong>{{'ACCOUNTING.METERS.BANKNOTES.banknote'|translate}} {{meters.currency}}{{b}}</strong>:
            <span>{{meters.params.banknotes.banknote[b]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default cashless">
        <div class="panel-heading">{{'ACCOUNTING.METERS.CASHLESS.label'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of meters.params.cashless | keys">
            <strong>{{'ACCOUNTING.METERS.CASHLESS.'+p|translate}}</strong>:
            <span>{{meters.currency}}{{meters.params.cashless[p]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default percentage">
        <div class="panel-heading">{{'ACCOUNTING.METERS.PERCENTAGE.label'|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of meters.params.percentage | keys">
            <strong>{{'ACCOUNTING.METERS.PERCENTAGE.'+p|translate}}</strong>:
            <span>{{meters.params.percentage[p]}}%</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
