<article class="accounting power">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.power'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row" *ngIf="power">
    <div class="channels col-md-8">
      <div class="section-title">{{'ACCOUNTING.POWER.PANELS.title'|translate}}</div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngFor="let p of power.params | keys">
            <strong>{{'ACCOUNTING.POWER.PANELS.'+p|translate}}</strong>:
            <span>{{power.params[p]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="history col-md-4">
      <div class="section-title">{{'ACCOUNTING.HISTORY.title'|translate}}</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <table>
            <thead>
              <tr>
                <th>{{'ACCOUNTING.HISTORY.time'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.status'|translate}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="panel-body" *ngIf="history">
          <table>
            <tbody>
              <tr *ngFor="let h of history.history">
                <td>{{h.date}}</td>
                <td>{{h.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination (buttonClicked)="onPageChange($event)" class="small-pagination"></pagination>
    </div>
  </section>
</article>
