<article class="accounting progressive">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.progressive'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row" *ngIf="progressive">
    <div class="section-title">&nbsp;</div>
    <div class="col-md-3" *ngFor="let level of progressive.levels">
      <div class="panel panel-default">
        <div class="panel-heading">{{'ACCOUNTING.PROGRESSIVE.level'|translate}} {{level.level}}</div>
        <div class="panel-body">
          <ng-container *ngFor="let param of level | keys">
            <div *ngIf="param!='level'">
              <strong>{{'ACCOUNTING.PROGRESSIVE.'+param|translate}}</strong>:
              <span>{{level[param]}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</article>
