<article class="accounting security">
  <header>
    <h3><a routerLink="/accounting">{{'ACCOUNTING.page_title'|translate}}</a><span> / {{'ACCOUNTING.BUTTONS.security'|translate}}</span></h3>
  </header>
  <time-filters></time-filters>
  <section class="data row" *ngIf="security">
    <div class="channels col-md-8">
      <div class="section-title">{{'ACCOUNTING.SECURITY.PANELS.title'|translate}}</div>
      <div class="panel panel-default" *ngFor="let box of ['main', 'belly', 'top', 'cashbox', 'bv']">
        <div class="panel-heading">{{'ACCOUNTING.SECURITY.PANELS.'+box|translate}}</div>
        <div class="panel-body">
          <div *ngFor="let p of security[box] | keys">
            <strong>{{'ACCOUNTING.SECURITY.PANELS.'+p|translate}}</strong>:
            <span>
              {{ (p=='status') ? ('ACCOUNTING.STATUS.'+security[box][p]|translate) : security[box][p] }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="history col-md-4">
      <div class="section-title">{{'ACCOUNTING.HISTORY.title'|translate}}</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <table>
            <thead>
              <tr>
                <th>{{'ACCOUNTING.HISTORY.time'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.door'|translate}}</th>
                <th>{{'ACCOUNTING.HISTORY.event'|translate}}</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="panel-body" *ngIf="history">
          <table>
            <tbody>
              <tr *ngFor="let h of history.history">
                <td>{{h.date}}</td>
                <td>{{h.door}}</td>
                <td>{{'ACCOUNTING.STATUS.'+h.event|translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination (buttonClicked)="onPageChange($event)" class="small-pagination"></pagination>
    </div>
  </section>
</article>
